* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
  /* outline: 1px solid #f00; */
}

a {
  text-decoration: none;
  color: #1d1c21;
}

p {
  font-size: 16px;
  color: #717171;
  font-weight: 300;
  line-height: 1.6;
  display: block;
}

img {
  vertical-align: bottom;
}
img {
  display: block;
}
input:focus {
  outline: none;
}
/* 使用CSS修改HTML5 input placeholder顏色 */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
}

.clearfix {
  clear: both;
}

h1.title,
h2.title {
  font-size: 24px;
  font-weight: 500;
  color: #1d1c21;
  text-align: center;
  letter-spacing: 0.2;
  padding: 40px 0;
}

/* content start */

.section {
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
}

section:nth-child(even) .container {
  width: 1200px;
  margin: auto;
  height: auto;
}

.section-categories {
  margin: auto;
  height: auto;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 236, 229, 1) 35%
  );
}

.categories-cards {
  width: 1200px;
  margin: auto;
}

.categories-cards-info {
  float: left;
  width: calc(100 / 4 - (20px * 3) / 4);
}

.categories-cards-info:nth-child(n + 2) {
  margin-left: 20px;
}

.categories-cards-info-img img {
  width: 285px;
}

.categories-cards-info h3 a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  font-weight: 300;
  color: #1d1c21;
  transition: 0.3s;
}

.categories-cards-info h3 a:hover {
  color: #ffb4b4;
}

.categories-cards-info h3 a::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 5px;
  margin-right: 24px;
  border-top: 1px solid #1d1c21;
}

.categories-cards-info h3 a:hover::before {
  border-top: 1px solid #ffb4b4;
}

/* section-favorite */
.section-favorite {
  margin-top: 120px;
}

.favorite-content {
  float: left;
  width: 50%;
}

.favorite-content-img img {
  box-shadow: 60px -60px 0px 10px rgb(246, 246, 246);
}

.favorite-content-info {
  height: 470px;
  position: relative;
}

.favorite-content-info .favorite-content-info-txt {
  width: 60%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.favorite-content-info-txt h2 {
  font-size: 42px;
  color: rgb(35, 34, 34);
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 50px;
}

.favorite-content-info-txt a,
.section-dealy a {
  display: block;
  width: 40%;
  background-color: rgb(29, 28, 33);
  font-size: 13px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 48px;
  height: 48px;
  font-weight: 500;
  margin-top: 32px;
  padding: 0px 30px;
  transition: all 0.3s ease 0s;
}

.favorite-content-info-txt a:hover,
.section-dealy a:hover {
  background-color: #ffb4b4;
}

/* section-focus */

.section-focus-products {
  width: calc(100% / 3);
  height: auto;
  float: left;
}

.focus-products-belt {
  background-color: #ffe5e5;
}

.focus-products-sunglasses {
  background-color: #ffece5;
}

.focus-products-bags {
  background-color: #fef5e4;
}

.section-focus-products .products-belt-item {
  width: 50%;
  margin: auto;
  text-align: center;
}

.products-belt-item h2 {
  font-size: 26px;
  padding-top: 32px;
  padding-bottom: 24px;
  border-bottom: 2px solid rgb(255, 255, 255);
  font-weight: normal;
  border-bottom: 2px solid #fff;
}

.products-belt-item p {
  font-size: 14px;
  padding-top: 32px;
  padding-bottom: 24px;
  color: #232222;
  font-weight: 500;
}

.is-belt-img img {
  width: 50%;
  margin: auto;
}

/* section-popular */

.popular-group-item {
  float: left;
  width: calc(100% / 4 - (21px * 3) / 4);
  height: auto;
  position: relative;
}

.popular-group-item:nth-child(2n + 4)::before {
  content: "featured";
  display: inline-block;
  background-color: #febf01;
  color: #fff;
  padding: 5px 15px;
  position: absolute;
  font-size: 10px;
  top: 30px;
  right: 0px;
}

.popular-group-item:nth-child(n + 2) {
  margin-left: 21px;
}

.popular-group-item:nth-child(5) {
  margin-left: 0px;
}

.popular-group-item a {
  display: block;
}

.popular-group-item span {
  display: block;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0em;
  color: #adaaaa;
  font-weight: 400;
  text-align: left;
}

.popular-group-item h3 {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0em;
  color: #232222;
  text-align: left;
  padding: 20px 10px;
}

.popular-group-item h3::after {
  content: "59.00$";
  display: block;
  color: #232222;
  font-size: 16px;
  letter-spacing: 0em;
  font-weight: 700;
  text-align: left;
}

.popular-group-item-img img {
  width: 284px;
}


/* section-dealy */

.section-dealy {
  background-image: url("../img/banner4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 560px;
  position: relative;
  text-align: center;
}

.section-dealy .container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-dealy span {
  font-size: 16px;
  line-height: 1.45;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
}

.section-dealy h3 {
  line-height: 1.2;
  color: #fff;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 3px;
  padding-bottom: 30px;
  padding-top: 50px;
}

.section-dealy a {
  width: 150px;
  margin: auto;
}

/* blog */

.section-blog {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-blog-post {
  width: 50%;
  float: left;
  position: relative;
}

.blog-post-img {
  text-align: center;
}

.blog-post-txt {
  width: 90%;
  padding: 20px;
  background-color: #f6f6f6;
  position: absolute;
  bottom: -20px;
  right: 15px;
}

.blog-post-txt h3 a {
  font-size: 24px;
  font-weight: 400;
  color: #1d1c21;
  display: block;
  margin-bottom: 20px;
}

p.post-name a,
p.post-name span {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.75;
  color: #b2b2b2;
  display: inline-block;
  transition: 0.3s;
  padding: 10px 0px;
}

p.post-name a:hover {
  color: #ffb4b4;
}

/* section-form */

.section-form .container {
  width: 1200px;
  background-color: #ffebe5;
  margin: auto;
}

.form-group {
  /* padding: 20px; */
}

label {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.344;
  letter-spacing: 0.2;
  color: #232222;
  /* margin-left: 30px; */
}

input {
  border: 0px;
  background-color: #fff;
  padding: 15px;
  width: 500px;
  font-size: 16px;
  font-weight: 100;
  margin-left: 45px;
}

.form-group a {
  display: inline-block;
  background-color: #1d1c21;
  font-size: 13px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  height: 50px;
  padding: 0px 40px;
  font-weight: 500;
  transition: 0.1s;
  /* margin-left: 10px; */
}
.form-group a:hover {
  background-color: #ffb4b4;
  transition: 0.3s;
}
