*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(64, 64, 64);
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: none;
}

/*--------------全域標題區設定-----------------*/

.row-space {
  margin: 3em 0;

}

h2.section-heading {
  font-size: 2.5em;
  line-height: 1.1em;
  letter-spacing: .4em;
  margin-bottom: .5em;
}

h3.section-subheading{
  font-size: 1em;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 4em;
  color: #777;

}

h3.masthead-brand {
  padding-left: 1em;
  padding-top: .5em;
  color: #000;

}

.masthead-nav {
  padding-right: 1em;
  padding-top: .5em;
}




/*--------------主視覺區域設定-----------------*/

.inner {
  padding: 0;
}

nav.nav-bg{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  max-height: 4.5em;
  height: 4.5em;
  border-radius: 0 0 .25em .25em;
  position: fixed;
  z-index: 999;
  -webkit-box-shadow: -2px 2px 13px -5px rgba(0,0,0,0.69);
  -moz-box-shadow:    -2px 2px 13px -5px rgba(0,0,0,0.69);
  box-shadow:         -2px 2px 13px -5px rgba(0,0,0,0.69);

}

.heading-defual{
  margin: 0;
  padding: 0;
  font-size:2.8em ;
  text-shadow:
  margin-bottom: 1em;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(66, 66, 66, 0.8);
}

.cover{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cover-img{
  width: 100%;
  height: 1100px;;
  background-image: url("../img/kv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
p > span{
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  line-height: .5em;
  height: .5em;
  color: #000;
}

p.lead-word{
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  font-size: 1em;
  letter-spacing: 0.3em;
  line-height: 1.6em;
  color: #000;
}

hr{
  margin: 0;
  padding: 0;
  width:24em;
  height: .3em;
  border: 0;
  background: #302233; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, #302233, #62223c, #8f2d3c ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #302233, #62223c, #8f2d3c ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #302233, #62223c, #8f2d3c ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #302233, #62223c, #8f2d3c ); /* Standard syntax (must be last) */
}

.cover .btn-lg, .btn-width{
  margin-top: 1.6em;
  padding: .8em 5em;
}
