*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
}
a{
  text-decoration:none;
}
.clearfix {
  clear: both;
}

.container {
  width: 100%;
  background-color: #fff;
}
section{
  margin-top: 70px;
}
section p:nth-child(1){
   text-align: center;
   font-size: 24px;
   font-weight: 400;
   color: #232222;
}
section p.title-uniq {
  padding-bottom: 150px;
}
section p.title {
  padding-bottom: 80px;
}
.categories{
  background-color: #FFECE5;
  height: 400px;

  }
.inner-categories{
  margin: auto;
  width: 1200px;
  height: 100%;
}
.categories-box{
  float: left;
  width: calc(100 / 4 -(21px * 3) / 4);
  margin-top: -100px;
}
.categories-box:nth-child(n + 2){
  margin-left: 21px;
}
.categories-box img{
  width: 284px;
}

.categories-box a{
  display: block;
  color: #1d1c21;
  height: 60px;
  line-height: 60px;
  font-weight: 500;
}
.categories-box a:hover {
  color:#ffb4b4;
}
.categories-box a::before{
  content: "";
  display: inline-block;
  width: 32px;
  border-top: 1px solid #1d1c21;
  height: 5px;
  margin-right: 24px;
}
.categories-box a:hover::before {
  border-top: 1px solid #ffb4b4;
}
.favor{
  margin-top: 80px;
}
.favor-left {
  width: 570px;
  float: left;
}
.favor-left{
  box-shadow: 60px -60px 0 10px #F6F6F6;
}

.favor-right{
  width: 570px;
  height: 470px;
  float: right;
  /* border: 1px solid #f00; */
  position: relative;
}

.favor-right-inner{
  width: 60%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.favor-right-inner p:nth-of-type(1){
  font-size: 42px;
  color: #232222;
  font-weight: 400;
  line-height: 1.2;
}

.favor-right-inner p:nth-of-type(2) {
  font-size: 16px;
  color: #717171;
  font-weight: 300;
  line-height: 1.6;
  display: block;
  margin-top: 24px;
}

.favor-right-inner a{
  width: 40%;
  display: block;
  background-color: #1d1c21;
  font-size: 13px;
  color: #fff;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0 30px;
  font-weight: 500;
  margin-top: 32px;
  transition: .3s;
}

.favor-right-inner a:hover {
  background-color: #ffb4b4;
   transition: .3s;
}
.accessories{
  width: 33.33%;
  height: 100%;
  float: left;
  text-align: center;
  padding: 0 160px 48px 160px;
}
.accessories:nth-of-type(1) {
  background-color: #FFE5E5;
}
.accessories:nth-of-type(2) {
  background-color: #FFECE5;
}
.accessories:nth-of-type(3) {
  background-color: #FDF5E4;
}
.accessories img{
  width: 200px;
}
.accessories p{
  font-weight: 400;
  color: #232222;
}
.accessories p:first-child{
  font-size: 26px;
  padding-top: 32px;
  padding-bottom: 24px;
  border-bottom: 2px solid #fff;
}
.accessories p:last-child {
  font-size: 14px;
  letter-spacing: 1.6;
}

.model-box{
  float: left;
  width: calc(100 / 4 - (21px * 3) / 4);
  margin-bottom: 40px;
  position: relative;
}
.model-box::before{
  content: "Featured";
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  height: 24px;
  width: 60px;
  position: absolute;
  top:20px;
  right: 0px;
  z-index: 10;
  color: #fff;
  background: rgb(255, 187, 0);
}

.model-box:nth-child(2n + 1)::before{
  display: none;
}
.model-box:nth-child( n + 2 ){
  margin-left: 21px;
}
.model-box img{
  width: 284px;
}

.model-info a{
  display: block;
  line-height: 1.8
}
.model-info a:nth-child(1){
  font-size: 10px;
  color: #adaaaa;
  font-weight: 400;
  margin-top: 16px;
}

.model-info a:nth-child(2) {
  font-size: 16px;
  color: #1d1c21;
  font-weight: 100;
}
.model-info a:nth-child(3) {
  color: #232222;
  font-size: 16px;
  font-weight: 700;
}
