* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft YaHei", '新細明體', sans-serif;
    font-size: 16px;
    letter-spacing: .2em;
    font-weight: 300;
}
p {margin: 0 0 0px;}
.about-p p{
  letter-spacing: .3em;
  line-height: 2em;
  color: #9B9B9B;
}
.about, .contact{
  width: 100%;
  max-width: 1340px;
  margin: auto;
  margin-top: 8%;
}
.about-row, .inner-contact{
  margin: 0 2%;
}
.about-kv{
  background-image: url(../img/about_kv.png);
  background-size: cover;
  height: 500px;
  text-align: right;
}
.about-kv img{
  margin-right: 5%;
  margin-top: 220px;
}
.about-content{
  margin-top: 5%;
}
.about-inner{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-L{
  width: 45%;
}
.about-L{
  background-image: url(../img/about_kv_patten.svg);
  background-position: 150% 110%;
  background-repeat: no-repeat;
}
.about-R{
  width: 55%;
}
.about-R :nth-child(3){
  font-size: 30px;
  color: #FFB8AC;
}
.about-R :nth-child(4){
  margin: 5% 0;
  width: 100%;
}
.about-R :last-child{
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 20px;
  font-weight: bold;
}
a.hashtag{
  color: #A5B6F3;
}
a.hashtag:hover{
  color: #7E90D2;
}
@media (max-width:1200px) {
  .about-R :nth-child(4){
    width: 100%;
  }
  .about-kv img {
    margin-top: 17%;
  }
  .about-L {
    background-position: 140% 108%;
    background-size: 70%;
  }
  .about-kv {
    background-size: cover;
    height: 400px;
  }
}
@media (max-width:1130px) {
  .about{
    margin-top: 12%;
  }
}
@media (max-width:1024px) {
  .about{
    margin-top: 15%;
  }
  .about-kv {
    height: 300px;
  }
  .about-kv img {
    margin-top: 130px;
    width: 25%;
  }
}
@media (max-width:916px) {
  .about-R :nth-child(3) {
    font-size: 26px;
  }
  .about-R :last-child {
    font-size: 18px;
  }
  .about-L {
    background-position: 150% 105%;
  }
  .about-kv {
    height: 250px;
  }
  .about-kv img {
    margin-top: 120px;
  }
}
@media (max-width:794px) {
  .about-R :nth-child(3) {
    font-size: 24px;
  }
}
@media (max-width:767px) {
  .about-R :nth-child(3) {
    font-size: 24px;
  }
  .about-inner {
    flex-direction: column;
  }
  .about-L, .about-R{
    width: 100%;
  }
  .about-L {
    background-image: none;
  }
  .about-R :nth-child(3) {
    text-align: center;
  }
  .about-L, .about-R {
    width: 90%;
    margin: 0 5%;
  }
}
@media (max-width:600px) {
  .about-kv img {
    margin-top: 115px;
    width: 35%;
  }
}
@media (max-width:448px) {
  .about-kv img {
    margin-top: 130px;
    width: 35%;
  }
  .about-R :nth-child(3) {
    font-size: 20px;
  }
}
@media (max-width:414px) {
  .about-kv {
    height: 220px;
  }
  .about-kv img {
    margin-top: 115px;
  }
}
@media (max-width:375px) {
  .about-R :nth-child(3) {
    font-size: 18px;
  }
  .about-kv {
    height: 180px;
  }
  .about-kv img {
    margin-top: 100px;
  }
}
@media (max-width:360px) {
  .about-kv img {
    margin-top: 85px;
  }
  .about-R :nth-child(3) {
    font-size: 16px;
    font-weight: 400;
  }
  .about-R :last-child {
    font-size: 16px;
  }
}
/*contact us*/
.contact {
  margin-top: 10%;
  margin-bottom: 10%;
}
.inner-contact{
  background-image: url(../img/contact_pattern.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-color: #F7F8F9;
  align-items: flex-end;
  flex-direction: column;
  display: flex;
}
.contact-top, .contact-bottom{
  width: 55%;
  padding: 3% 5%;
}
.contact-top img, .contact-bottom img{
  margin-bottom: 5%;
}
.contact-word, .contact-info{
  font-size: 1em;
  color: #9B9B9B;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 5%;
}
.contact-info p{
  font-weight: 400;
  line-height: 2em;
}
.word-pink{
  color: #FFB8AC;
}
.contact-top{
  margin-top: 8%;
}
.contact-bottom{
  margin-bottom: 8%;
}

@media (max-width:1024px) {
  .inner-contact{
    background-size: 30%;
  }
  .contact-top img, .contact-bottom img{
    width: 60%;
  }
}
@media (max-width:1024px) {
  .contact-top{
    margin-top: 12%;
  }
  .contact-bottom{
    margin-bottom: 5%;
  }
  .contact-word, .contact-info {
    font-size: .875em;
  }
  .contact-info p{
    font-size: .875em;
  }
}
@media (max-width:933px) {
  .word-pink{
    font-size: .875em;
  }
}
@media (max-width:800px) {
  .contact-top{
    margin-top: 15%;
  }
}
@media (max-width:768px) {
  .contact-top img, .contact-bottom img {
    margin-bottom: 10%;
  }
  .contact-word, .contact-info {
    font-size: 1em;
  }
  .contact-top, .contact-bottom {
    width: 65%;
  }
  .contact-bottom {
    margin-bottom: 3%;
  }
}
@media (max-width:767px) {
  .contact-top {
    margin-top: 10%;
  }
}
@media (max-width:700px) {
  .contact-top {
    margin-top: 15%;
  }
  .contact-top, .contact-bottom {
    width: 75%;
  }
  .contact-top img, .contact-bottom img {
    width: 45%;
  }
}
@media (max-width:530px) {
  .contact-top {
    margin-top: 20%;
  }
  .contact-word, .contact-info {
    margin-bottom: 10%;
  }
  .contact-top img, .contact-bottom img {
    width: 65%;
  }
}
@media (max-width:414px) {
  .contact-top, .contact-bottom {
    width: 85%;
  }
  .inner-contact {
    background-size: 30%;
  }
  .contact-bottom {
    margin-bottom: 10%;
  }
}
@media (max-width:375px) {
  .contact-top {
    margin-top: 25%;
  }
  .contact-top img, .contact-bottom img {
    width: 70%;
  }
}
@media (max-width:357px) {
  .contact-top {
    margin-top: 25%;
  }
  .contact-top img, .contact-bottom img {
    width: 70%;
  }
  .contact-info p {
    font-size: .8125em;
  }
  .contact-word, .contact-info {
    font-size: .9375em;
  }
}
@media (max-width:320px) {
  .contact-word, .contact-info {
    font-size: .875em;
  }
  .word-pink {
    font-size: .8125em;
  }
}
/*privacy*/

.privacy, .faq{
  margin-top: 5%;
  margin-bottom: 5%;
}
.row-privacy{
  margin: 0 2%;
}
.privacy-top{
  margin-bottom: 30px;
}
.privacy-top p{
  color: #9B9B9B;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
}
.privacy-inner{
  color: #9B9B9B;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.8em;
}
.privacy-tit{
  color: #A5B6F3;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.part{
  margin-bottom: 50px;
}
.part ol, .part ul{
  margin-left: 50px;
  margin-top: 30px;
}
.part ol li{
  list-style-type:decimal;
  font-size: 15px;
  line-height: 1.8em;
  font-weight: 400;
}
 .part ul li{
   list-style-type:initial;
   font-size: 15px;
   line-height: 1.8em;
   font-weight: 400;
 }

 @media (max-width:767px) {
   .privacy-top {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .privacy-tit {
    font-size: 18px;
  }
   .part {
    margin-bottom: 60px;
  }
}
@media (max-width:414px) {
  .part ol, .part ul{
    margin-left: 30px;
    margin-top: 30px;
  }
  .privacy-tit {
    font-size: 16px;
  }
}

/*FAQ*/
.row-faq{
  margin: 0 2%;
}
.faq-top{
}
.faq-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
}
.faq-box-L{
  width: 30%;
}
.faq-box-R{
  width: 65%;
}
.faq-box-R ul{
}
.faq-box-R ul li{
  font-size: 1em;
  line-height: 2.4em;
  font-weight: 400;
  list-style-type:initial;
  color: #9B9B9B;
}
.faq-box-L :nth-child(2){
  text-align: center;
  margin: 50px 0;
}
li .faq-time{
  color: #FFB8AC;
  font-weight: 400;
}

.faq-bottom-box{
  margin-bottom: 70px;
}
.question{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.question p{
  font-size: 1.5em;
  font-weight: 400;
  color: #9B9B9B;
  align-self: center;
}
.answer p{
  font-size: 1em;
  line-height: 2.4em;
  color: #9B9B9B;
}
@media (max-width:1024px) {
  .faq-box-L {
    width: 30%;
  }
  .faq-box-R {
    width: 70%;
  }
  .faq-box-L :nth-child(1){
    width: 90%;
  }
  .faq-box-L :nth-child(2){
    width: 60%;
  }
}
@media (max-width:950px) {
  .faq-box-R ul li, li .faq-time, .answer p {
    font-size: .875em;
  }
  .question p {
    font-size: 1.375em;
  }
}
@media (max-width:850px) {
  .question p {
    font-size: 1.125em;
  }
  .faq-bottom-box {
    margin-bottom: 30px;
  }
  .question {
    margin-bottom: 30px;
  }
  .question img{
    width: 5%;
  }
  .answer p {
    line-height: 2em;
  }
}
@media (max-width:768px) {
  .faq-box-R ul li, li .faq-time, .answer p {
    font-size: 1em;
  }
  .faq-box {
    margin-bottom: 50px;
  }
  .question {
    margin-bottom: 20px;
  }
  .faq-box-R ul li, li .faq-time, .answer p {
    font-size: .875em;
  }
  .faq-time{
    line-height: 2em;
  }
}
@media (max-width:767px) {
  .faq-top {
    margin-top: 70px;
  }
  .faq-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
  }
  .faq-box-L, .faq-box-R{
    width: 100%;
  }
  .faq-box-L {
    margin: auto;
    width: 40%;
  }
  .faq-box-L :nth-child(1), .faq-box-L :nth-child(2) {
    width: 100%;
  }
  .faq-box-R {
    width: 85%;
    margin: auto;
  }
  .faq-box-R ul li, li .faq-time, .answer p {
    font-size: 1em;
  }
  .faq-bottom{
    width: 85%;
    margin: auto;
  }
  .question img {
    width: 7%;
  }
}
@media (max-width:610px) {
  .question {
    align-items: flex-start;
  }
  .question p {
    line-height: 1.6;
  }
  .faq-bottom {
    margin-top: 70px;
  }
  .faq-box-L {
    width: 50%;
  }
}
@media (max-width:414px) {
  .question p {
    font-size: 1em;
  }
  .question img {
    width: 10%;
  }
  .faq-box-L {
    width: 60%;
  }
  .faq-box-L :nth-child(2) {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .faq-bottom {
    width: 90%;
  }
}
@media (max-width:375px) {
  .faq-top{
    margin-top: 50px;
  }
  .faq-box{
    margin-bottom: 50px;
  }
}
@media (max-width:320px) {
  .faq-top{
    margin-top: 30px;
  }
  .faq-box{
    margin-bottom: 30px;
  }
  .faq-box-R ul li, li .faq-time, .answer p {
    font-size: .8125em;
  }
}
/*superfood*/
.superfood{
  margin-top: 10%;
  margin-bottom: 5%;
}
.inner-superfood{
  width: 100%;
}
.inner-superfood{
  display:inline-flex;
  flex-wrap: wrap;
}
.superfood-box{
  width: 25%;
  margin-bottom: 70px;
}
.food-top img{
  width: 300px;
  max-width: 100%;
  /*以上兩個屬性可以使圖片自動縮小*/
}
.food-top p{
  font-size: 26px;
  color: #D8D8D8;
  font-weight: 500;
  border-left: 3px solid #f7f7f7;
  padding-left: 10px;
  line-height: 1em;
}
.food-middle{
  line-height: 1.8em;
  color: #9B9B9B;
  padding: 0 6%;
  margin-bottom: 20px;
}
.food-bottom{
  margin-top: 10px;
  padding: 0 6%;
}
.food-taste p{
  font-size: .875em;
  color: #FFB8AC;
  font-weight: 500;
}
.food-soup{
  margin-top: 15px;
}
.food-soup a{
  font-size: .875em;
  font-weight: 500;
  background-color: #F5F5F5;
  line-height: 1.875em;
  height: 1.875em;
  padding: 0 1.25em;
  border-radius: 1.25em;
  color: #A5B6F3;
  margin-bottom: .625em;
}
.food-soup a:hover{
  color: #fff;
  background-color: #A5B6F3;
}
@media (max-width:1024px) {
  .food-top p {
    font-size: 22px;
  }
  .food-middle p{
    font-size: 13px;
  }
}
@media (max-width:900px) {
  .superfood-box {
    width: 33.33%;
  }
}
@media (max-width:767px) {
  .superfood-box {
    width: 100%;
    margin: 0 5%;
    display: inline-flex;
    margin-bottom: 30px;
  }
  .food-top{
    width: 30%;
  }
  .food-middle{
    width: 50%;
    padding: 0 3%;
  }
  .food-bottom{
    width: 20%;
    padding: 0 0;
    margin-top: 0;
  }
  .food-middle p {
    font-size: 16px;
  }
}
@media (max-width:640px) {
  .food-middle p {
    font-size: 15px;
  }
  .superfood-box {
    display: block;
  }
  .food-top, .food-middle, .food-bottom{
    width: 100%;
  }
  .food-middle, .food-bottom{
    padding: 0 2%;
  }
  .food-middle p {
    font-size: 16px;
  }
  .food-top{
    text-align: center;
  }
  .food-top p {
    font-size: 26px;
    text-align: center;
    border-left: 0px solid #A5B6F3;
    padding-left: 0px;
    line-height: 1em;
  }
  .food-top img {
    width: 300px;
  }
  .food-bottom{
    margin-top: 20px;
    text-align: center;
  }
  .food-soup {
    margin-top: 20px;
  }
  .food-taste p {
    font-size: 1em;
  }
  .food-soup a {
    font-size: 1em;
  }
}
@media (max-width:320px) {
  .food-top p {
    font-size: 20px;
  }
  .food-top img {
    width: 200px;
  }
  .food-middle p {
    font-size: 13px;
    line-height: 1.8em;
  }
  .food-taste p {
    font-size: 13px;
  }
  .food-soup a {
    font-size: .875em;
  }
}

/* our teams */

.teams{
  margin-top: 0%;
  margin-bottom: 10%;
}
.teams-inner{
  width: 100%;
}
.teams-3, .teams-4{
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.teams-3 .teams-box{
  width: 33.33%;
}
.teams-4 .teams-box-s{
  width: 25%;
}
.teams-4{
  margin-top: 120px;
}
.teams-img{
  margin: auto;
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
.teams-img-s{
  margin: auto;
  width: 215px;
  height: 215px;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid #F5F5F5;
}
.teams-img1{
  background-image: url(../img/teams1.png);
}
.teams-img2{
  background-image: url(../img/teams2.png);
}
.teams-img3{
  background-image: url(../img/teams3.png);
}
.teams-img4{
  background-image: url(../img/teams4.png);
}
.teams-img5{
  background-image: url(../img/teams5.png);
}
.teams-img6{
  background-image: url(../img/teams6.png);
}
.teams-img7{
  background-image: url(../img/teams7.png);
}
.teams-info, .teams-info-s{
  margin: 0 10%;
}
.teams-info-name :first-child{
  width: 1.25em;
  font-size: 1.5em;
  color: #FFB8AC;
  border-bottom: .25em solid #FFB8AC;
  font-weight: 500;
  padding-bottom: .416em;
}
.teams-info-name :last-child{
  margin-top: 15px;
  font-size: 34px;
  color: #A5B6F3;
  letter-spacing: 1em;
}
.teams-info-detail{
  margin-top: 40px;
}
.teams-info-detail p, .teams-info-detail-s p{
  line-height: 1.8em;
  color: #9B9B9B;
}
.teams-num, .special-num{
  width: 1.25em;
  font-size: 1.25em;
  color: #FFB8AC;
  border-bottom: .25em solid #FFB8AC;
  font-weight: 500;
  padding-bottom: .416em;
}
.teams-info-name1 :last-child{
  margin-top: 20px;
  font-size: 24px;
  color: #A5B6F3;
  letter-spacing: .4em;
}
span.teams-ENGname{
  font-size: 18px;
}
.teams-info-detail-s{
  margin-top: 20px;
}
.teams-info-name1{
  height: 120px;
}
@media (max-width:1200px) {
  .teams-info-name1 :last-child {
    margin-top: 20px;
    letter-spacing: .25em;
  }
  span.teams-ENGname {
    font-size: 16px;
  }
  .teams-img{
    width: 250px;
    height: 250px;
  }
  .teams-img-s{
    width: 180px;
    height: 180px;
  }
}
@media (max-width:1024px) {
  span.teams-ENGname {
    font-size: 16px;
  }
  .teams-img{
    width: 220px;
    height: 220px;
  }
  .teams-img-s{
    width: 150px;
    height: 150px;
  }
  .teams-info-name :last-child {
    font-size: 28px;
  }
  .teams-info-name :first-child {
    font-size: 1.375em;
  }
  .teams-info-detail {
    margin-top: 30px;
  }
  .teams-info-detail p, .teams-info-detail-s p {
    font-size: 14px;
  }
  .teams-info-name1 :last-child {
    font-size: 20px;
    margin-top: 15px;
  }
  .teams-num, .special-num {
    font-size: 1em;
  }
  .teams-info-name1 {
    height: 100px;
  }
  span.teams-ENGname {
    font-size: 14px;
  }
}
@media (max-width:900px) {
  .teams-img {
    width: 190px;
    height: 190px;
  }
}
@media (max-width:800px) {
  .teams-img {
    width: 170px;
    height: 170px;
  }
  .teams-info-name :first-child {
    font-size: 1em;
  }
  .teams-info-name :last-child {
    font-size: 24px;
  }
  .teams-img-s {
    width: 120px;
    height: 120px;
  }
  .teams-info-name1 :last-child {
    font-size: 18px;
  }
  span.teams-ENGname {
    font-size: 13px;
  }
}
@media (max-width:768px) {
  .teams-info, .teams-info-s {
    margin: 0 7%;
  }
  span.teams-ENGname {
    font-size: 12px;
  }
  .teams-info-name1 :last-child {
    font-size: 16px;
  }
  .teams-info-detail p, .teams-info-detail-s p {
    font-size: 13px;
  }
  .teams-4 {
    margin-top: 80px;
  }
}
@media (max-width:767px) {
  .teams {
    margin-right: 4%;
    margin-left: 4%;
  }
  .teams-3, .teams-4 {
    display: block;
  }
  .teams-3 .teams-box, .teams-4 .teams-box-s {
    display: inline-flex;
    width: 100%;
    margin-bottom: 70px;
  }
  .teams-img, .teams-img-s{
    width: 160px;
    height: 160px;
    margin-top: 0;
  }
  .teams-info, .teams-info-s{
    width: 65%;
    padding-left: 50px;
  }
  .teams-info-detail p, .teams-info-detail-s p {
    font-size: 16px;
  }
  .teams-info-name :last-child, .teams-info-name1 :last-child {
    font-size: 28px;
  }
  .teams-4 {
    margin-top: 0px;
  }
  .teams-info-name :first-child, .teams-info-name1 :first-child {
    font-size: 1.375em;
  }
  .teams-info-name1 :first-child {
    font-size: 24px;
  }
  span.teams-ENGname {
    font-size: 14px;
  }
  .teams-info-detail-s {
    margin-top: 120px;
  }
  .teams-info-name1 {
     height: 0px;
  }
  .teams-info-s{
    display: flex;
    flex-direction: column;
  }
  .teams-info-detail-h{
    padding-top: 40px;
  }
  .teams-img, .teams-img-s, .teams-info, .teams-info-s {
    margin: 0 0%;
  }
}
@media (max-width:640px) {
  .teams {
    padding: 0 7%;
    margin: auto;
    margin-right: 0%;
    margin-left: 0%;
  }

  .teams-3 .teams-box, .teams-4 .teams-box-s {
    display: flex;
    flex-direction: column;
  align-items: center;
  }
  .teams-info, .teams-info-s {
    width: 100%;
    padding-left: 0px;
  }
  .teams-img, .teams-img-s {
    width: 250px;
    height: 250px;
  }
  .teams-info-name :first-child, .teams-info-name1 :first-child {
    margin: auto;
  }
  .teams-info-name :last-child, .teams-info-name1 :last-child {
    text-align: center;
    padding-left: 30px;
  }
  .teams-info-name, .teams-info-name1{
    margin-top: 30px;
  }
}
@media (max-width:414px) {
  .teams{
    margin-top: 50px;
    margin-bottom: 20%;
  }
  .teams-img, .teams-img-s {
    width: 180px;
    height: 180px;
  }
  .teams-3 .teams-box, .teams-4 .teams-box-s {
    margin-bottom: 30px;
  }
  .teams-info-detail {
    margin-top: 20px;
  }
}
@media (max-width:320px) {
  .teams-img, .teams-img-s {
    width: 120px;
    height: 120px;
  }
  .teams-3 .teams-box, .teams-4 .teams-box-s {
    margin-bottom: 30px;
  }
  .teams-info-name :last-child, .teams-info-name1 :last-child {
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
  }
  .teams-info-name, .teams-info-name1 {
    margin-top: 10px;
  }
  .teams-info-detail p, .teams-info-detail-s p {
    font-size: 13px;
  }
  .teams-info-name1 :first-child {
    font-size: 16px;
  }
  .teams-info-detail {
    margin-top: 10px;
  }
  .teams-info-detail-h {
    padding-top: 30px;
  }
  .teams-info-detail-s {
    margin-top: 90px;
  }
}
/* #gotsbooned */
 /*媒體推薦*/
.gotsbooned{}
.inner-gotsbooned{
  width: 100%;
}
.media{
  margin-bottom: 70px;
}
.media-row{
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}
.media-box{
  width: 33.33%;
  text-align: center;
  margin-bottom: 50px;
}
.media-box-img{
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 40px;
}
.got-img1{
  background-image: url(../img/mz_logo1.png);
}
.got-img2{
  background-image: url(../img/mz_logo2.png);
}
.got-img3{
  background-image: url(../img/mz_logo3.png);
}
.got-img4{
  background-image: url(../img/mz_logo4.png);
}
.got-img5{
  background-image: url(../img/mz_logo5.png);
}
.got-img6{
  background-image: url(../img/mz_logo6.png);
}
.got-img7{
  background-image: url(../img/mz_logo7.png);
}
.got-img8{
  background-image: url(../img/mz_logo8.png);
}
.media-box-info{
  margin-bottom: 30px;
}
.media-box-info p:first-child{
  font-size: 22px;
  color: #A5B6F3;
  font-weight: 400!important;
  margin-bottom: 10px;
}
.media-box-info .media-common{
  font-size: 18px;
  font-weight: 400!important;
  color: #CFCFCF;
  margin-bottom: 10px;
}
p.media-number{
  font-size: 16px;
  color: #A5B6F3;
  font-weight: 400!important;
  margin-bottom: 10px;
}
p.media-sns{
  font-size: 18px;
  font-weight: 400!important;
  color: #CFCFCF;
  margin-bottom: 10px;
}
.media-box-info p.media-sns span{
  font-size: 18px;
  font-weight: 400!important;
  color: #9B9B9B;
  margin-bottom: 10px;
}
.media-box-wording{
  margin-top: 30px;
}
.media-box-wording p{
  font-size:18px;
  color: #9B9B9B;
  font-weight: bold;
  line-height: 1.8;
}
.media-box-info, .media-box-wording{
  margin-left: 10%;
  margin-right: 10%;
}
/*blogger推薦*/
.blogger{}
.blogger-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
}
.blogger-box{
  width: 32%;
  margin-bottom: 50px;
}
.blogger-box-top{
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 6px;
  height: 240px;
  padding: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.triangle{
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 18.5px 0 18.5px;
  border-color: #F5F5F5 transparent transparent transparent;
  margin-left: 30px;
  margin-bottom: 10px;
}
.blogger-box-top p{
  font-size: 18px;
  line-height: 1.8em;
  color: #A5B6F3;
  font-weight: bold;
}
.blogger-box-bottom{
  width: 100%;
  padding: 0%;
  display: inline-flex;
  justify-content: space-between;
}
.blogger-img{
  width: 90px;
  height: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 6px solid #F5F5F5;
}
.blogger-img1{
  background-image: url(../img/blogger01.png);
}
.blogger-img2{
  background-image: url(../img/blogger02.png);
}
.blogger-img3{
  background-image: url(../img/blogger03.png);
}
.blogger-img4{
  background-image: url(../img/blogger04.png);
}
.blogger-info{
  width: 70%;
}
.blogger-info p:nth-child(1){
  color:#FFB8AC;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}
p.blogger-sns{
  font-size: 16px;
  color: #9B9B9B;
  font-weight: 400;
}
p.blogger-sns span{
  font-size: 16px;
  color: #CFCFCF;
  font-weight: 400;
}
@media (max-width:1200px) {
  .media-box-info p:first-child {
    font-size: 20px;
  }
  p.media-sns {
    font-size: 15px;
  }
  .media-box-info p.media-sns span {
    font-size: 15px;
  }
}
@media (max-width:1123px) {
  .media-box-info p:first-child {
    font-size: 18px;
  }
  p.media-number {
    font-size: 14px;
  }
  .media-box-wording p {
    font-size: 16px;
  }
  .blogger-info p:nth-child(1) {
    font-size: 16px;
  }
  .blogger-img {
    width: 80px;
    height: 80px;
  }
  .blogger-info {
    width: 73%;
  }
  p.blogger-sns span, p.blogger-sns {
    font-size: 14px;
  }
}
@media (max-width:980px) {
  .blogger-img {
    width: 70px;
    height: 70px;
  }
  .media-box-info p:first-child {
    font-size: 16px;
  }
  .blogger-box-bottom {
    display: block;
  }
  .triangle {
    margin: auto;
    margin-bottom: 10px;
  }
  .blogger-img {
    margin: auto;
  }
  .blogger-info {
    width: 100%;
    margin-top: 20px;
  }
  .blogger-box-bottom {
    text-align: center;
  }
  .blogger-box-top p {
    font-size: 16px;
    font-weight: 400;
  }
  .blogger-box-top {
    height: 200px
  }
  .blogger-box {
    margin-bottom: 20px;
  }
  .media-box-info .media-common {
    font-size: 14px;
  }
}
@media (max-width:822px) {
  .media-box-info p:first-child {
    font-size: 15px;
  }
  .media-box-img {
    width: 140px;
    height: 140px;
  }
  p.media-number {
    font-size: 13px;
  }
  .media-box-wording p {
    font-size: 15px;
    font-weight: 400;
  }
  .blogger-box-top p {
    font-size: 15px;
  }
}
@media (max-width:767px) {
  .gotsbooned{
    padding-right: 2%;
    padding-left: 2%;
  }
  .media{
      margin-bottom: 0px;
  }
  .media-box {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .media-box-img {
    width: 130px;
    height: 130px;
  }
  .media-box-info{
    text-align: left;
    width: 35%;
  }
  .media-box-info, .media-box-wording {
    text-align: left;
    width: 35%;
  }
  .media-box-wording {
    margin-left: 0%;
    margin-right: 0%;
  }
  .media-box-info, .media-box-wording {
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 10px;
  }
  .media-box-info p:first-child {
    font-size: 18px;
  }
  p.media-number {
    font-size: 15px;
  }
  .media-box-info .media-common {
    font-size: 15px;
  }
  .media-box-wording {
    margin-top: 0px;
  }
  .media-box-img {
  }
  .blogger-row, .media-row {
    flex-direction: column;
    padding-top: 30px;
  }
  .blogger-box {
    width: 90%;
    display: inline-flex;
    margin: auto;
    padding-bottom:30px;
  }
  .blogger-box-top {
    width: 55%;
  }
  .blogger-box-top {
    padding: 10%;
  }
  .blogger-box-bottom {
    width: 40%;
  }
  .triangle{
    width: 5%;
    border-width: 18.5px 0 18.5px 13.5px;
    border-color: transparent transparent transparent #F5F5F5;
    margin-bottom: 0px;
    margin-bottom: 13%;
  }
  .blogger-box-top p {
    font-size: 16px;
  }
  .blogger-img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width:640px) {
  .media-box {
    flex-direction: column;
  }
  .media-box-img {
    width: 180px;
    height: 180px;
  }
  .media-box-info, .media-box-wording {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .media-box-info p:first-child {
    font-size: 20px;
  }
  p.media-number {
    font-size: 16px;
  }
  .media-box-info .media-common {
    font-size: 17px;
  }
  .media-box-wording p {
    font-size: 20px;
    font-weight: 500;
  }
  .blogger-box {
    display: flex;
    flex-direction: column;
  }
  .blogger-box-top {
    width: 100%;
  }
  .blogger-box-bottom {
    width: 100%;
  }
  .triangle {
    margin-bottom: 20px;;
  }
  .blogger-box-top p {
    font-size: 20px;
    font-weight: 500px;
  }
  .blogger-box-top {
    height: 250px;
  }
  .blogger-img {
    width: 120px;
    height: 120px;
  }
  .blogger-info p:nth-child(1) {
    font-size: 18px;
  }
  p.blogger-sns span, p.blogger-sns {
    font-size: 18px;
  }
  .triangle {
    border-width: 13px 18.5px 0 18.5px;
    border-color: #F5F5F5 transparent transparent transparent;
  }
  p.media-sns {
    font-size: 16px;
  }
}
@media (max-width:414px) {
  .media-box-img {
    width: 130px;
    height: 130px;
  }
  .media-box-img {
    margin-bottom: 0;
  }
  .media-box-info{
    margin-top: 20px;
  }
  .media-box-wording p {
    font-size: 18px;
    padding: 0 5%;
  }
  .blogger-box-top p {
    font-size: 18px;
  }
  .blogger-box-top {
    height: 200px;
  }
  p.blogger-sns span, p.blogger-sns {
    font-size: 14px;
  }
  p.media-sns {
    font-size: 14px;
  }
}
@media (max-width:320px) {
  .media-box-img {
    width: 90px;
    height: 90px;
  }
  .blogger-row, .media-row {
    padding-top: 10px;
  }
  .media-box-info p:first-child {
    font-size: 16px;
  }
  p.media-number {
    font-size: 14px;
  }
  .media-box-info .media-common {
    font-size: 14px;
  }
  .media-box-wording p {
    font-size: 15px;
  }
  .media-box-info, .media-box-wording {
    margin-bottom: 0px;
  }
  .media-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .blogger-box-top p {
    font-size: 15px;
  }
  .blogger-box-top {
    height: 150px;
  }
  .blogger-img {
    width: 80px;
    height: 80px;
  }
  .blogger-info p:nth-child(1) {
    font-size: 16px;
  }
  p.blogger-sns span, p.blogger-sns {
    font-size: 13px;
  }
  .blogger-info {
    margin-top: 10px;
  }
}
