* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft YaHei", '新細明體', sans-serif;
    /*list-style-type: none;*/
    /*font-size: 15px;
    letter-spacing: .2em;*/
}
p {margin: 0 0 10px;}
/*main_head*/
.main_head{
  width: 100%;
  max-width: 1340px;
  margin: auto;
  padding-right: 2%;
  padding-left: 2%;
}
a:hover{
  text-decoration: none;
}
/* 每個內容的距離 */
.content-top{
  margin-top: 5%;
  margin-bottom: 5%;
}

/*內頁共用header*/
.kv{
}
.main-tit{
  width: 100%;
  height: 16em;
  background-color: #F7F8F9;
  background-image: url(../img/main_patten.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  margin-top: 135px;;
}
.row-tit{
  width: 100%;
  height: 37px;
  text-align: right;
  padding-top: 6.5em;
  padding-right: 2.5%;
}
/*斷點*/
@media (max-width: 1200px){
  .main-tit{
    margin-top: 11%;
  }
  .row-tit img{
    width: 35%;
  }
}
@media (max-width: 1024px){
  .row-tit img{
    width: 35%;
  }
  .main-tit{
    background-size: 12%;
    height: 14em;
  }
}
@media (max-width: 980px){
  .row-tit {
    padding-top: 7.5em;
  }
  .main-tit{
    background-size: 13%;
    height: 14em;
  }
}
@media (max-width: 768px){
  .row-tit {
    padding-top: 4.5em;
  }

  .main-tit {
    background-size: 12%;
    height: 10em;
  }
}
@media (max-width: 767px){
  .row-tit {
    padding-top: 4.5em;
  }
  .main-tit {
    background-size: 12%;
    height: 10em;
  }
}
@media (max-width: 660px){
  .row-tit {
    padding-top: 4em;
  }
  .row-tit img{
    width: 50%;
  }
}
@media (max-width: 600px){
  .row-tit {
    padding-top: 3em;
  }
  .main-tit {
    background-size: 12%;
    height: 9em;
  }
  .row-tit img{
    width: 45%;
  }
}

@media (max-width: 414px){
  .row-tit {
    padding-top: 2em;
  }
  .main-tit {
    background-size: 18%;
    height: 10em;
  }
  .row-tit img{
    width: 30%;
  }
}

@media (max-width: 360px){
  .row-tit {
    padding-top: 2.8em;
  }
  .main-tit {
    background-size: 12%;
    height: 6em;
  }
  .row-tit img{
    width: 23%;
  }
}
@media (max-width: 320px){
  .row-tit {
    padding-top: 2.8em;
  }
  .main-tit {
    background-size: 12%;
    height: 6em;
  }
  .row-tit img{
    width: 26%;
  }
}

/* introduc use flexbox */
.introdu{
  margin-bottom: 3.125em;
}
.row-introduc{
  display: flex;
  align-items: center;
  justify-content: center;
}
.int-wd{
  width: 847px;
  padding-left: 5%;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 2em;
  color: #9B9B9B;
}
.int-kv{
  width: 493px;
}
@media (max-width: 1024px){
  .int-wd {
    font-size: 1em;
  }
  .int-kv img{
    width: 95%;
  }
}
@media (max-width: 830px){
  .int-wd {
    font-size: .875em;
  }
}
@media (max-width: 767px){
  .row-introduc{
    display: flex;
    flex-direction: column;
  }
  .int-wd{
    width: 100%;
    padding-left: 0px;
    text-align: left;
    font-size: 1.25em;
    font-weight: 300;
    margin-top: 10%;
    padding: 0 5%;
  }
  .int-kv{
    text-align: center;
    width: 100%;
    margin-top: 5%;
  }
  .int-kv img {
    width: 50%;
  }
  .row-tit img {
    width: 40%;
  }
  .main-tit {
    width: 100%;
    height: 10em;
    background-color: #F7F8F9;
    background-image: url(../img/main_patten1.svg);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: contain;
    margin-top: 100px;
  }
}
@media (max-width: 715px){
  .main-tit {
    height: 10em;
  }

}
@media (max-width: 600px){
  .main-tit {
    height: 8em;
  }
  .row-introduc{
    display: flex;
    flex-direction: column;
  }
  .int-wd{
    width: 100%;
    padding-left: 0px;
    text-align: left;
    font-size: 1em;
    font-weight: 300;
    margin-top: 7%;
    padding: 0 5%;
  }
  .int-kv{
    text-align: center;
    width: 100%;
    margin-top: 5%;
  }
}
@media (max-width: 414px){
  .row-introduc{
    display: flex;
    flex-direction: column;
  }
  .int-wd{
    width: 100%;
    padding-left: 0px;
    text-align: left;
    font-size: 1em;
    font-weight: 300;
    margin-top: 10%;
    padding: 0 5%;
  }
  .int-kv{
    text-align: center;
    width: 100%;
    margin-top: 5%;
  }
  .int-kv img {
    width: 65%;
  }
  .row-tit img {
    width: 60%;
  }
  .row-tit {
    padding-top: 3em;
  }
}
@media (max-width: 375px){
  .main-tit {
    margin-top: 90px;
  }
  .main-tit {
    height: 6em;
  }
  .row-tit {
    padding-top: 2.5em;
  }
}
@media (max-width: 360px){
  .main-tit {
    margin-top: 50px;
  }
  .row-tit img {
    width: 50%;
  }
  .row-tit {
    padding-top: 2.3em;
  }
}
@media (max-width: 320px){
  .main-tit {
    margin-top: 50px;
    height: 5em;
  }
  .row-introduc{
    display: flex;
    flex-direction: column;
  }
  .int-wd{
    width: 100%;
    padding-left: 0px;
    text-align: left;
    font-size: .8125em;
    font-weight: 300;
    margin-top: 7%;
    padding: 0 5%;
  }
  .int-kv{
    text-align: center;
    width: 100%;
    margin-top: 5%;
  }
  .int-kv img {
    width: 50%;
  }
  .row-tit {
    padding-top: 2em;
  }
}
 /*How to choose a plan */
.how{
  margin-top: 6%;
}
.ex-tit{
  width: 1340px;
  height: 103px;
  margin: auto;
 }
 .ex-tit img{
   margin-left: 2%;
 }
.chose-mid{
  margin-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.step-box{
  width: 1340px;
  height: 240px;
  text-align: center;
  display:flex;
  flex-direction: row ;
  justify-content: space-around;
}
.step{
  width: 31.5%;
  border: 8px solid #F5F5F5;
}
.step-B>img{
  margin-top: -50px;
}
.step-inner{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  padding: 0 20px;
  text-align: left;
}
.step-inner :nth-child(1){
  width: 40%;
}
.step-inner :nth-child(2){
  width: 60%;
  font-size: 22px;
  padding-left: 5%;
  color: #9B9B9B;
  font-weight: 400;
}
@media (max-width:1200px) {
  .ex-tit img{
    width: 25%;
  }
  .ex-tit{
    height: 80px;
   }
  .step{
    width: 30%;
  }
  .step-box {
    height: 220px;
  }
}
@media (max-width:1079px) {
  .step-box {
    height: 200px;
  }
  .step-inner :nth-child(2){
    font-size: 19px;
  }
  .step-inner>img{
    width: 40%;
  }
  .step-B>img {
    width: 27%;
    margin-top: -40px;
  }
}
@media (max-width:1024px) {
  .ex-tit img{
    width: 22%;
  }
  .ex-tit{
    height: 80px;
   }
  .step{
    width: 30%;
  }
  .step-box {
    height: 180px;
  }
  .chose-mid {
    margin-top: 60px;
  }
}
@media (max-width:932px) {
  .step-box {
    height: 170px;
  }
  .ex-tit img {
    width: 18%;
  }
  .ex-tit {
    height: 50px;
  }
  .step-inner>img {
    width: 35%;
  }
  .step-inner :nth-child(2){
    font-size: 16px;
    padding-left: 10%;
  }
}
@media (max-width:876px){
  .step-box {
    height: 150px;
  }
  .step-inner :nth-child(2) {
    font-size: 15px;
  }
}
@media (max-width:840px){
  .step-box {
    height: 150px;
  }
  .step-inner :nth-child(2) {
    font-size: 13px;
  }
}
@media (max-width:800px) {
  .step-box {
    height: 130px;
  }
  .ex-tit img {
    width: 16%;
  }
  .step-B>img {
    width: 25%;
    margin-top: -40px;
}
  .ex-tit {
    height: 30px;
  }
  .step-inner :nth-child(2){
    font-size: 13px;
    padding-left: 10%;
  }
  .chose-mid {
    margin-top: 70px;
  }
}
@media (max-width:768px){
  .step-box {
    height: 110px;
  }
  .ex-tit img {
    width: 15%;
  }
  .chose-mid {
    margin-top: 70px;
  }
  .step {
    width: 31.5%;
    border: 6px solid #F5F5F5;
  }
.step {
    width: 30%;
  }
.step-inner {
  margin-top: 6%;
  }
}
@media (max-width:767px){
  .chose-mid {
    margin-top: 120px;
}
  .ex-tit{
    text-align: center;
    width: 100%;
  }
  .ex-tit img {
    margin: auto;
    width: 50%;
  }
  .step-inner {
    margin-bottom: 5%;
    padding: 0 20px;
  }
  .step-box{
    margin-top: 50%;
    margin-bottom: 45%;
    align-items: center;
    flex-direction: column;
  }
  .step {
    width: 80%;
    margin-bottom: 50px;
  }
  .step-B>img {
    width: 15%;
  }
  .step-inner :nth-child(2){
    font-size: 26px;
    padding-left: 3%;
  }
  .step-inner>img {
    width: 30%;
  }
  .step-inner :nth-child(1){
    width: 30%;
  }
}
@media (max-width: 600px){
.ex-tit img {
    margin: auto;
    width: 60%;
  }
}
@media (max-width:527px){
  .how {
    margin-top: 10%;
  }
  .chose-mid {
    margin-top: 80px;
  }
  .step-inner :nth-child(2){
    font-size: 22px;
  }
}
@media (max-width:460px){
  .step-inner :nth-child(2){
    font-size: 22px;
  }
  .ex-tit img {
    width: 60%;
  }
  .chose-mid {
    margin-top: 100px;
  }
}
@media (max-width:434px){
  .how {
    margin-top: 10%;
  }
  .chose-mid {
    margin-top: 0px;
  }
  .step-box {
    margin-top: 70%;
  }
  .ex-tit img {
    width: 60%;
  }
  .step-inner :nth-child(2) {
    font-size: 20px;
  }
}
@media (max-width:414px){
  .how {
    margin-top: 10%;
  }
  .chose-mid {
    margin-top: 20px;
  }
  .step-box {
    margin-top: 70%;
  }
  .ex-tit img {
    width: 60%;
  }
}
@media (max-width:375px){
  .step-inner :nth-child(2){
    font-size: 18px;
  }
}
@media (max-width:350px){
  .chose-mid {
    margin-top: 20px;
  }
}
@media (max-width:320px){
  .step-inner :nth-child(2){
    font-size: 16px;
  }
  .step-inner {
    margin-top: 4%;
  }
}

/*plan exit*/

.exit{
  width: 100%;
  max-width: 1440px;
  margin-top: 5%;
}
.all-tit{
  width: 100%;
  max-width: 1340px;
  margin: auto;
  text-align: left;
  margin-bottom: 40px;
}
.all-tit > p{
  font-size: 2em;
  letter-spacing: .2em;
  color: #B8B8B8;
  font-weight: 300;
}
.all-tit > .bottom-line{
  width: 100px;
  height: 4px;
  background: -webkit-linear-gradient(left, #FFB8AC , #A5B6F3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FFB8AC, #A5B6F3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FFB8AC, #A5B6F3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FFB8AC , #A5B6F3); /* Standard syntax */
}
.exit-BOX{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.exit-inner{
  width: 31.5%;
}
.exit-top{
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 35%;
}
.top_kv1{
  background-image: url(../img/plan_item1_bg.png);
}
.top_kv2{
  background-image: url(../img/plan_item2_bg.png);
}
.top_kv3{
  background-image: url(../img/plan_item3_bg.png);
}
.exit-down{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ex-down1{
  background-color: #F5F5F5;
}
.ex-down1 a{
  width: 100%;
  font-size: 24px;
  color: #A5B6F3;
  line-height: 120px;
}
.ex-down1 a:hover{
  width: 100%;
  color: #fff;
  background-color: #A5B6F3;
}
.ex-down{
  width: 100%;
  background-color: #F5F5F5;
}
.btn-L, .btn-R{
  width: 50%;
}
.btn-w p{
  font-size: 24px;
}
.btn-L a{
  display: block;
  color: #A5B6F3;
  background-color: #F5F5F5;
  height: 120px;
  padding-top: 8%;
  border-right: 2px solid #fff;
}
.btn-L a:hover{
  color: #fff;
  background-color: #A5B6F3;
}
.D-red{
  font-size: 24px;
  color: #FFB8AC;
}

@media (max-width:1350px) {
  .exit-top {
    height: 460px;
  }
}
@media (max-width:1250px) {
  .exit-top {
    height: 440px;
  }
  .exit-top>img{
    width: 80%;
  }
}
@media (max-width:1200px) {
  .exit-top {
    height: 400px;
  }
  .exit-top>img{
    width: 80%;
  }
  .btn-w p {
    font-size: 20px;
  }
  .btn-L a {
    padding-top: 10%;
  }
}
@media (max-width:1100px) {
  .exit-top {
    height: 380px;
  }
}
@media (max-width:1024px) {
  .exit-top {
    height: 350px;
  }
  .ex-down1 a {
    font-size: 20px;
    line-height: 90px;
  }
  .btn-L a {
    height: 90px;
    padding-top: 7%;
  }
  .btn-w p {
    font-size: 17px;
    margin: 0 0 0px;
  }
}
@media (max-width:970px) {
  .exit-top {
    height: 330px;
  }
  .ex-down1 a {
    font-size: 20px;
    line-height: 80px;
  }
  .btn-L a {
    height: 80px;
  }
  .btn-w p {
    font-size: 17px;
  }
}
@media (max-width:880px) {
  .exit-top {
    height: 300px;
  }
  .ex-down1 a {
    font-size: 20px;
    line-height: 80px;
  }
  .btn-L a {
    height: 80px;
  }
  .ex-down1 a {
    font-size: 18px;
    line-height: 80px;
  }
  .btn-w p {
    font-size: 16px;
  }
}
@media (max-width:768px) {
  .exit-top {
    height: 280px;
  }
  .ex-down1 a {
    font-size: 16px;
    line-height: 70px;
  }
  .ex-down1 a {
    font-size: 16px;
    line-height: 70px;
  }
  .btn-w p {
    font-size: 14px;
  }
  .btn-L a {
    height: 70px;
  }
  .D-red {
    font-size: 18px;
  }
  .all-tit > p {
    font-size: 1.6em;
  }
  .all-tit > .bottom-line {
    width: 70px;
  }
  .all-tit {
    margin-bottom: 30px;
  }
}
@media (max-width:767px){
  .all-tit > p {
    font-size: 2em;
}
  .all-tit > .bottom-line {
    width: 170px;
    margin: auto;
  }
  .all-tit {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .exit-BOX {
    flex-direction: column;
    align-items: center;
  }
  .exit-inner{
    width: 80%;
    margin-bottom: 5%;
  }
  .exit-top {
    height: 400px;
  }
  .exit-top>img {
    width: 60%;
  }
  .exit-top {
    padding-top: 15%;
  }
  .ex-down1 a {
    font-size: 24px;
    line-height: 90px;
  }
  .btn-L a {
    height: 90px;
    padding-top: 5%;
  }
  .btn-w p {
    font-size: 20px;
  }
  .D-red {
    font-size: 20px;
  }

}
@media (max-width:670px){
  .exit-top {
    height: 380px;
  }
}
@media (max-width:620px){
  .exit-top {
    height: 350px;
  }
}
@media (max-width:570px){
  .exit-top {
    height: 310px;
  }
}
@media (max-width:500px){
  .exit-top {
    height: 270px;
  }
  .ex-down1 a {
    font-size: 20px;
    line-height: 80px;
  }
  .btn-L a {
    height: 80px;
    padding-top: 5%;
  }
}
@media (max-width:450px){
  .exit-top {
    height: 240px;
  }
  .ex-down1 a {
    font-size: 20px;
    line-height: 80px;
  }
  .btn-L a {
    height: 80px;
    padding-top: 6%;
  }
  .btn-w p {
    font-size: 17px;
  }
}
@media (max-width:414px){
  .exit {
    margin-top: 8%;
  }
  .all-tit {
    margin-bottom: 30px;
  }
  .exit-top {
    height: 220px;
  }
  .ex-down1 a {
    font-size: 18px;
    line-height: 70px;
  }
  .btn-L a {
    height: 70px;
    padding-top: 6%;
  }
  .btn-w p {
    font-size: 15px;
  }
  .all-tit > p {
    font-size: 2em;
  }
}
@media (max-width:375px){
  .exit {
    margin-top: 8%;
  }
  .all-tit {
    margin-bottom: 30px;
  }
  .exit-top {
    height: 200px;
  }
  .ex-down1 a {
    font-size: 16px;
    line-height: 60px;
  }
  .btn-L a {
    height: 60px;
    padding-top: 2%;
  }
  .btn-w p {
    font-size: 14px;
  }
  .all-tit > p {
    font-size: 1.8em;
  }
  .all-tit > .bottom-line {
    width: 150px;
  }
}
@media (max-width:320px){
  .exit {
    margin-top: 8%;
  }
  .all-tit {
    margin-bottom: 20px;
  }
  .exit-top {
    height: 170px;
  }
  .ex-down1 a {
    font-size: 15px;
    line-height: 60px;
  }
  .btn-L a {
    height: 60px;
    padding-top: 8%;
  }
  .btn-w p {
    font-size: 13px;
  }
  .D-red {
    font-size: 13px;
  }
  .all-tit > p {
    font-size: 1.4em;
  }
  .all-tit > .bottom-line {
    width: 110px;
    height: 2px;
  }
}

/*  plans-name  */

/*plan1*/
.plan-name{
  max-width: 1340px;
  text-align: center;
}
.plan-name img{
  padding-top: 6%;
  padding-bottom: 3%;
}

/*plan2/3*/
.tab-day{

  display: flex;
  flex-direction: row;
  margin-top: 3%;
}
.day-inner{
  width: 50%;
}
/* -------tab */

/*plan2 tab*/
.tab-day .day-L{
  background-image:url(../img/menu_3d_active.svg);
  background-repeat: no-repeat;
  height: 60px;
  border-right: 6px solid #F5F5F5;
  background-position: center;
}
.tab-day .day-L a{
  display: block;
  background-image:url(../img/menu_3d_normal.svg);
  background-repeat: no-repeat;
  height: 60px;
  background-position: center;
}
.tab-day .day-L a:hover{
  background-image:url(../img/menu_3d_active.svg);
}
.tab-day .day-R{
  background-image:url(../img/menu_6d_active.svg);
  background-repeat: no-repeat;
  height: 60px;
  background-position: center;
}
.tab-day .day-R a{
  display: block;
  background-image:url(../img/menu_6d_normal.svg);
  background-repeat: no-repeat;
  height: 60px;
  background-position: center;
}
.tab-day .day-R a:hover{
  background-image:url(../img/menu_6d_active.svg);
}

/*plan3 tab*/
.tab-day .day-L-p3{
  background-image:url(../img/menu_1d_active.svg);
  background-repeat: no-repeat;
  height: 60px;
  border-right: 6px solid #F5F5F5;
  background-position: center;
}
.tab-day .day-L-p3 a{
  display: block;
  background-image:url(../img/menu_1d_normal.svg);
  background-repeat: no-repeat;
  height: 60px;
  background-position: center;
}
.tab-day .day-L-p3 a:hover{
  background-image:url(../img/menu_1d_active.svg);
}
.tab-day .day-R-p3{
  background-image:url(../img/menu_3d_active.svg);
  background-repeat: no-repeat;
  height: 60px;
  background-position: center;
}
.tab-day .day-R-p3 a{
  display: block;
  background-image:url(../img/menu_3d_normal.svg);
  background-repeat: no-repeat;
  height: 60px;
  background-position: center;
}
.tab-day .day-R-p3 a:hover{
  background-image:url(../img/menu_3d_active.svg);
}
@media (max-width:768px) {
  .tab-day .day-L{
    background-size: 45%;
    border-right: 4px solid #F5F5F5;
  }
  .tab-day .day-L a{
    background-size: 45%;
  }
  .tab-day .day-R{
    background-size: 45%;
  }
  .tab-day .day-R a{
    background-size: 45%;
  }
}
@media (max-width:650px) {
  .plan-name{
    margin-bottom: 7%;
  }
}
@media (max-width:500px) {
  .tab-day .day-L{
    background-size: 50%;
    border-right: 4px solid #F5F5F5;
  }
  .tab-day .day-L a{
    background-size: 50%;
  }
  .tab-day .day-R{
    background-size: 50%;
  }
  .tab-day .day-R a{
    background-size: 50%;
  }
}
@media (max-width:450px) {
  .tab-day .day-L{
    background-size: 60%;
    border-right: 4px solid #F5F5F5;
  }
  .tab-day .day-L a{
    background-size: 60%;
  }
  .tab-day .day-R{
    background-size: 60%;
  }
  .tab-day .day-R a{
    background-size: 60%;
  }
}
@media (max-width:370px) {
  .tab-day .day-L{
    background-size: 70%;
    border-right: 4px solid #F5F5F5;
  }
  .tab-day .day-L a{
    background-size: 70%;
  }
  .tab-day .day-R{
    background-size: 70%;
  }
  .tab-day .day-R a{
    background-size: 70%;
  }
}

/*p3*/
@media (max-width:768px) {
  .tab-day .day-L-p3{
    background-size: 45%;
    border-right: 4px solid #F5F5F5;
  }
  .tab-day .day-L-p3 a{
    background-size: 45%;
  }
  .tab-day .day-R-p3{
    background-size: 45%;
  }
  .tab-day .day-R-p3 a{
    background-size: 45%;
  }
}
@media (max-width:650px) {
  .plan-name{
    margin-bottom: 7%;
  }
}
@media (max-width:500px) {
  .tab-day .day-L-p3{
    background-size: 50%;
    border-right: 4px solid #F5F5F5;
  }
  .tab-day .day-L-p3 a{
    background-size: 50%;
  }
  .tab-day .day-R-p3{
    background-size: 50%;
  }
  .tab-day .day-R-p3 a{
    background-size: 50%;
  }
}
@media (max-width:450px) {
  .tab-day .day-L-p3{
    background-size: 60%;
    border-right: 4px solid #F5F5F5;
  }
  .tab-day .day-L-p3 a{
    background-size: 60%;
  }
  .tab-day .day-R-p3{
    background-size: 60%;
  }
  .tab-day .day-R-p3 a{
    background-size: 60%;
  }
}
@media (max-width:370px) {
  .tab-day .day-L-p3{
    background-size: 70%;
    border-right: 4px solid #F5F5F5;
  }
  .tab-day .day-L-p3 a{
    background-size: 70%;
  }
  .tab-day .day-R-p3{
    background-size: 70%;
  }
  .tab-day .day-R-p3 a{
    background-size: 70%;
  }
}


/*  plans-btn-order  */

.plan-order{
  margin-bottom: 5%;
  margin-top: 10%;
}
.devider{
  display: block;
  margin: auto;
  max-width: 1340px;
  border-top: 1px solid #F5F5F5;
}

.plan-order a{
  display: block;
  width: 400px;
  margin: auto;
  text-align: center;
  padding: 0 2%;
  border: 6px solid #F5F5F5;
  line-height: 2.25em;
  font-size: 2.25em;
  color: #FFB8AC;
  background-color: #ffffff;
  margin-top: -3.5%;
}
@media (max-width:1200px) {
  .plan-order a {
    width: 360px;
    line-height: 2.75em;
    font-size: 2em;
    margin-top: -4%;
  }
  .plan-order {
    margin-top: 7%;
  }
}
@media (max-width:1024px) {
  .plan-order a {
    width: 220px;
    line-height: 3em;
    font-size: 1.4em;
    margin-top: -3.7%;
  }
}

.plan-order a:hover{
  color: #ffffff;
  background-color: #FFB8AC;
}

/*others plan box*/
.other-all{
  width: 100%;
}
.other-plan{
  max-width: 1340px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin: auto;
}
.other-box{
  width: 49%;
}
.other-top{
  width: 100%;
  background-color: #F8F9FB;
  height: 200px;
  background-repeat: no-repeat;
  margin-bottom: 1%;
  padding-left: 35%;
  padding-top:9%;
}
.other-box .patten-L{
  background-image: url(../img/other_irem_left.svg);
  background-position: 0% 0%;
}
.other-box .patten-R{
  background-image: url(../img/other_irem_right.svg);
  background-position: 100% 100%;
}
.other-box .other-down{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  height: 90px;
}
.other-down .other-btn{
  width: 49.4%;
  background-color: #F8F9FB;
}
.other-down .other-btn a{
  display: block;
  line-height: 90px;
  color: #CFCFCF;
  font-size: 24px;
}
.other-down .other-btn a:hover{
  color: #fff;
  background-color: #A5B6F3;
}
.other-top p{
  font-size: 24px;
  font-weight: 300;
  color: #CFCFCF;
  letter-spacing: .4em;
}
.other-top .oval{
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #CFCFCF;
  border-radius: 50%;
  border: 4px solid #D8D8D8;
  padding-left: 2.5%;
  margin-right: 3%;
  font-weight: 500;
}
.other-down .other-normal{
  width: 100%;
}
.other-normal{

}
@media (max-width:1200px) {
  .patten-L > img{
    width: 100%;
    margin-top: 10px;
  }
  .patten-R > img{
    width: 100%;
    margin-top: 10px;
  }
  .other-down .other-btn a {
    font-size: 20px;
  }
}
@media (max-width:1024px) {
  .other-box .other-down {
    height: 80px;
  }
  .other-down .other-btn a{
    line-height: 80px;
  }
  .other-top .oval {
    width: 35px;
    height: 35px;
  }
}
@media (max-width:980px) {
  .other-top {
    width: 100%;
    background-color: #F8F9FB;
    height: 160px;
  }
  .other-down .other-btn a {
    font-size: 18px;
  }
}
@media (max-width:920px) {
  .plan-order {
      margin-top: 5%;
    }
}
@media (max-width:860px) {
  .other-top {
    width: 100%;
    background-color: #F8F9FB;
    height: 160px;
  }
  .other-down .other-btn a {
    font-size: 18px;
  }
  .plan-order a {
    width: 200px;
    line-height: 3em;
    font-size: 1.4em;
    margin-top: -4.4%;
  }
  .other-box .other-down {
    height: 70px;
  }
  .other-down .other-btn a {
    line-height: 70px;
    font-size: 16px;
  }
  .other-top .oval {
    font-size: 18px;
    padding-left: 3%;
  }
  .patten-L > img {
    margin-top: 0px;
  }
  .patten-R > img {
    margin-top: 0px;
  }
}
@media (max-width:768px) {
  .plan-order a {
    width: 220px;
    font-size: 1.4em;
    margin-top: -5%;
  }
  .other-top p {
    font-size: 20px;
  }
  .other-top {
    height: 140px;
  }
  .other-box .other-down {
    height: 60px;
  }
  .other-down .other-btn a {
    line-height: 60px;
  }
  .plan-order {
    margin-bottom: 5%;
    margin-top: 5%;
  }
}
@media (max-width:767px) {
  .plan-name img {
    width: 30%;
    padding: 7% 0;
  }
  .plan-name{
    margin-top: 10%;
  }
  .plan-order a {
    display: block;
    width: 240px;
    margin: auto;
    text-align: center;
    padding: 0 2%;
    border: 6px solid #F5F5F5;
    line-height: 2.5em;
    font-size: 1.6em;
    color: #FFB8AC;
    background-color: #ffffff;
    margin-top: -5%;
  }
  .plan-order {
    margin-top: 15%;
    margin-bottom: 10%;
  }
  .other-top {
    height: 200px;
  }
  .other-top p {
    margin-top: 15%;
  }
  /*.patten-L > img {
    width: 90%;
  }
  .patten-R > img {
    width: 45%;
  }*/
  .other-down .other-btn a {
    line-height: 70px;
  }
  .other-box .other-down {
    height: 70px;
  }

}
@media (max-width:690px) {
  .plan-name{
    margin-top: 7%;
  }
  .int-kv img {
    width: 70%;
  }
  .plan-order a {
    width: 240px;
    line-height: 2.5em;
    font-size: 1.6em;
    margin-top: -5%;
  }
  .plan-order {
    margin-top: 7%;
    margin-bottom: 10%;
  }
  .other-top {
    height: 200px;
  }
  .other-top p {
    font-size: 24px;
    margin-top: 15%;
  }
  /*.patten-L > img {
    width: 90%;
  }
  .patten-R > img {
    width: 45%;
  }*/
  .other-down .other-btn a {
    line-height: 70px;
  }
  .other-box .other-down {
    height: 70px;
  }
  .other-plan {
    max-width: 1340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .other-box{
    width: 90%;
    margin-bottom: 5%;
  }
  .other-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .other-top p {
    margin-top: 3%;
  }
  .other-top .oval {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #CFCFCF;
    border-radius: 50%;
    border: 4px solid #D8D8D8;
    padding-left: 2.5%;
    margin-right: 3%;
    font-weight: 500;
  }

}
@media (max-width: 650px){
  .plan-order {
      margin-top: 20%;
      margin-bottom: 15%;
  }
  .plan-name img {
    width: 40%;
    padding-bottom: 3%;
    margin-top: 3%;
  }
  .plan-order a {
    width: 280px;
    line-height: 2.75em;
    font-size: 1.8em;
    margin-top: -7%;
  }
}
@media (max-width:550px) {
  .plan-name{
    margin-top: 10%;
  }

  .plan-order a {
    width: 360px;
    font-size: 1.6em;
  }

  .plan-name img {
    width: 50%;
  }
  .other-top p {
    margin-top: 5%;
  }
}
@media (max-width:470px) {
  .other-top p {
    margin-top: 10%;
  }
  .plan-order a {
    margin-top: -7%;
  }

}
@media (max-width:414px) {
  .other-top p {
    margin-top: 10%;
  }
  .plan-order a {
    margin-top: -9%;
    font-size: 1.5em;
  }
  .other-top .oval {
    padding-left: 4.5%;
  }
  .other-top p {
    margin-top: 12%;
  }
  .devider{
    display: none;
  }
  .plan-name {
    margin-top: 5%;
  }
  .plan-order {
    margin-top: 25%;
  }
  .plan-order a {
    width: 16em;
  }
  .soup-info p:nth-child(2){
    text-align: left;
  }
}
@media (max-width:375px) {
  .other-top p {
    margin-top: 6%;
  }
  .plan-order a {
    margin-top: -9%;
  }
  .other-top .oval {
    padding-left: 4.5%;
  }
  .other-down .other-btn a {
    font-size: 15px;
  }
  .other-box .patten-L {
    background-image: url(../img/other_irem_left_s.svg);
  }
  .other-box .patten-R {
    background-image: url(../img/other_irem_right_s.svg);
  }
  .other-top {
    height: 160px;
  }
  .plan-order a {
    font-size: 1.35em;
  }
}
@media (max-width:320px) {
  .other-top p {
    margin-top: 5%;
  }
  .plan-order a {
    margin-top: -9%;
  }
  .other-top .oval {
    padding-left: 4.5%;
  }
  .other-down .other-btn a {
    font-size: 13px;
  }
  .other-top {
    height: 130px;
  }
  .other-top .oval {
    width: 35px;
    height: 35px;
  }
  .plan-order a {
    font-size: 1.15em;
  }
  .int-kv img {
    width: 80%;
  }
  .other-down .other-btn a {
    line-height: 60px;
  }
  .other-box .other-down {
    height: 60px;
  }
}
