* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft YaHei", '新細明體', sans-serif;
    list-style-type: none;
    font-size: 15px;
    letter-spacing: .2em;
}
.con-slider {
    margin: 0;
    padding: 0 2%;
    margin-top: 142px;
}
.item {
    width: 100%;
}
.item-con .slide-word {
    position: absolute;
    width: 100%;
    max-width: 700px;
    top: 40%;
    left: 5%;
}
/* slider 文字 */

.slide-word>h3 {
    font-size: 3em;
    font-weight: 400;
    color: #FFB8AC;
    line-height: 1.6em;
    margin-top: 0px;
    margin-bottom: 0x;
    white-space: nowrap;
}
.slide-word>p {
    margin: 0 0 0px;
    color: #A5B6F3;
    font-size: 1.8em;
    word-wrap: break-word;
    line-height: 1.8em;
}
@media (max-width: 1600px) {
    .item-con .slide-word {
        max-width: 500px;
    }
    .slide-word>h3 {
        font-size: 2.6em;
    }
    .slide-word>p {
        font-size: 1.4em;
    }
}
@media (max-width: 1300px) {
    .item-con .slide-word {
        max-width: 400px;
    }
    .slide-word>h3 {
        font-size: 2.4em;
    }
    .slide-word>p {
        font-size: 1.2em;
    }
}
@media (max-width: 1100px) {
    .item-con .slide-word {
        max-width: 300px;
    }
    .slide-word>h3 {
        font-size: 2em;
    }
    .slide-word>p {
        font-size: 1em;
    }
}
@media (max-width: 900px) {
    .item-con .slide-word {
        max-width: 300px;
    }
    .slide-word>h3 {
        font-size: 1.5em;
    }
    .slide-word>p {
        font-size: .8em;
    }
}
@media (max-width: 700px) {
    .item-con .slide-word {
        max-width: 230px;
    }
    .slide-word>h3 {
        font-size: 1.2em;
    }
    .slide-word>p {
        font-size: .8em;
    }
}
/* heder img fixed */

@media (max-width: 768px) {
    .con-slider {
        margin-top: 150px;
    }
}
@media (max-width: 767px) {
    .con-slider {
        margin-top: 90px;
    }
}
@media (max-width: 600px) {
    .item-con .slide-word {
        max-width: 400px;
        top: 75%;
        left: 5%;
    }
    .slide-word>h3 {
        font-size: 1.7em;
    }
    .slide-word>p {
        font-size: 1em;
    }
    .owl-carousel .owl-item img {
        display: none;
    }
    .item-s1 {
        background-image: url("../img/slider_1s.png");
        background-position: left;
        width: 100%;
        height: 524px;
    }
    .item-s2 {
        background-image: url("../img/slider_2s.png");
        background-position: left;
        width: 100%;
        height: 524px;
    }
    .item-s3 {
        background-image: url("../img/slider_3s.png");
        background-position: left;
        width: 100%;
        height: 524px;
    }
    .item-s4 {
        background-image: url("../img/slider_4s.png");
        background-position: left;
        width: 100%;
        height: 524px;
    }
}
@media (max-width: 500px) {
    .item-con .slide-word {
        max-width: 400px;
        top: 75%;
        left: 5%;
    }
    .slide-word>h3 {
        font-size: 1.7em;
    }
    .slide-word>p {
        font-size: 1em;
    }
    .owl-carousel .owl-item img {
        display: none;
    }
    .item-s1 {
        background-image: url("../img/slider_1s.png");
        background-position: 80%;
        width: 100%;
        height: 524px;
    }
    .item-s2 {
        background-image: url("../img/slider_2s.png");
        background-position: 80%;
        width: 100%;
        height: 524px;
    }
    .item-s3 {
        background-image: url("../img/slider_3s.png");
        background-position: 80%;
        width: 100%;
        height: 524px;
    }
    .item-s4 {
        background-image: url("../img/slider_4s.png");
        background-position: 20%;
        width: 100%;
        height: 524px;
    }
}
@media (max-width: 414px) {
    .item-con .slide-word {
        max-width: 340px;
        top: 75%;
        left: 5%;
    }
    .slide-word>h3 {
        font-size: 1.6em;
    }
    .slide-word>p {
        font-size: 1em;
    }
    .owl-carousel .owl-item img {
        display: none;
    }
    .item-s1 {
        background-image: url("../img/slider_1s.png");
        background-position: 80%;
        width: 100%;
        height: 524px;
    }
    .item-s2 {
        background-image: url("../img/slider_2s.png");
        background-position: 80%;
        width: 100%;
        height: 524px;
    }
    .item-s3 {
        background-image: url("../img/slider_3s.png");
        background-position: 80%;
        width: 100%;
        height: 524px;
    }
    .item-s4 {
        background-image: url("../img/slider_4s.png");
        background-position: 20%;
        width: 100%;
        height: 524px;
    }

}
@media (max-width: 360px) {
    .item-con .slide-word {
        max-width: 270px;
        top: 80%;
        left: 5%;
    }
    .slide-word>h3 {
        font-size: 1.2em;
        line-height: 1em;
    }
    .slide-word>p {
        font-size: .7em;
        line-height: 1.6em;
    }
    .owl-carousel .owl-item img {
        display: none;
    }
    .item-s1 {
        background-image: url("../img/slider_1s.png");
        background-position: 40% 5%;
        width: 100%;
        height: 500px;
    }
    .item-s2 {
        background-image: url("../img/slider_2s.png");
        background-position: 60%;
        width: 100%;
        height: 500px;
    }
    .item-s3 {
        background-image: url("../img/slider_3s.png");
        background-position: 80%;
        width: 100%;
        height: 500px;
    }
    .item-s4 {
        background-image: url("../img/slider_4s.png");
        background-position: 20%;
        width: 100%;
        height: 500px;
    }
    .con-slider {
        margin-top: 70px;
    }
}
@media (max-width: 320px) {
    .item-con .slide-word {
        max-width: 270px;
        top: 80%;
        left: 5%;
    }
    .slide-word>h3 {
        font-size: 1.2em;
        line-height: 1em;
    }
    .slide-word>p {
        font-size: .7em;
        line-height: 1.6em;
    }
    .owl-carousel .owl-item img {
        display: none;
    }
    .item-s1 {
        background-image: url("../img/slider_1s.png");
        background-position: 40% 5%;
        width: 100%;
        height: 450px;
    }
    .item-s2 {
        background-image: url("../img/slider_2s.png");
        background-position: 60%;
        width: 100%;
        height: 450px;
    }
    .item-s3 {
        background-image: url("../img/slider_3s.png");
        background-position: 80%;
        width: 100%;
        height: 450px;
    }
    .item-s4 {
        background-image: url("../img/slider_4s.png");
        background-position: 20%;
        width: 100%;
        height: 450px;
    }
    .con-slider {
        margin-top: 70px;
    }
}
/* owl css fixed style*/

.owl-height {} .owl-theme .owl-nav [class*='owl-'] {
    display: none;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #FFB8AC;
}
.owl-theme .owl-dots .owl-dot span {
    background: #F5F5F5;
}
.owl-theme .owl-nav {
    margin-top: 10px;
}
.owl-theme .owl-controls {
    margin-top: -30px;
}
