* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft YaHei", '新細明體', sans-serif;
    list-style-type: none;
    font-size: 15px;
    letter-spacing: .2em;
}
p {margin: 0 0 0px;}

/*排版調整*/

/*step1*/
.taste{
  margin-top: 7%;
}
.inner-taste{
  max-width: 1270px;
  margin: auto;
}
.taste-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
}
.taste-L{
  width: 15%;
  padding-left: 2%;
}
.taste-R{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.taste-R-step{
  width: 70%;
  /*margin-right: 3%;*/
}
.taste-R-step-R{
  width: 30%;
}
.taste-R-step-R img{
  margin-top: 10%;
}
.step-con{
  width: 100%;
  display: flex;
  flex-direction: row;

}
.step-con1{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-right: 2%;
  align-items: flex-start;
}

/*step2*/
.taste-R-inner{
  width: 70%;
  flex-direction: column;
}
.taste-R-box{
  width: 100%;
}
.taste-R-word{
  display: flex;
  flex-direction: row;
}
.warm-com{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.taste-R-box img{
  margin: 7% 0;
}

.warm-com img{
  margin-bottom: 0;
}
.taste-R-box img{
  margin-bottom: 0;
  margin-top: 0%;
  margin-bottom: 2%
}
.taste-R-box-top img{
  margin-top: 7%;
  margin-bottom: 7%;
}
.inner-warm {
  margin-top: 7%;
}
.inner-warm div:first-child{
  margin-bottom: 5%;
}

.warm-R p:nth-child(1){
  color: #FFB8AC;
  line-height: 2em;
  font-weight: 400;
}
.taste-R-word p.taste-chilled{
  font-size: 1em;
  color: #A5B6F3;
  font-weight: normal;
  background-image: url(../img/soup_cold.svg);
  background-position: left;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 25px;
  border-left: 0px solid #A5B6F3;
  margin-left: 10px;
}
.taste-R-word p.taste-warm{
  font-size: 1em;
  color: #FFB8AC;
  font-weight: normal;
  background-image: url(../img/soup_warm.svg);
  background-position: left;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 25px;
  margin-left: 10px;
  border-left: 0px solid #A5B6F3;
}
.taste-R-word p:nth-child(3){
  border-left: 0px solid #A5B6F3;
  font-size: 16px;
  color: #9B9B9B;
  font-weight: 300;
}
.taste-R-box-one img{
  margin-top: 7%;
}
/*step4*/
.taste-R-box{
  display: block;
}
.taste-states{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 7%;
}
.taste-R-word img{
  margin: 7% 0;
}
.states-icon p{
  font-size: .875em;
  color: #9B9B9B;
  font-weight: 300;
  padding-left: 3%;
  vertical-align: middle;
  padding-top: 20px;
}
.states-icon{
  text-align: center;
  width: 16.666%;
}
.taste-R-box p.note{
  display: block;
  font-size: 16px;
  line-height: 1.8em;
  color: #9B9B9B;
  margin-top:2%;
  /*margin-bottom: 5%;*/
  font-weight: 300;
}

/*文字樣式調整*/
.taste-L p{
  font-size:1.5em;
  color: #A5B6F3;
  line-height: 1.5em;
}
.step-tit{
  margin-bottom: 10%;
}
.step-tit p,
.taste-R-word p{
  display: block;
  font-size:1.2em;
  color: #9B9B9B;
  border-left: 4px solid #A5B6F3;
  padding-left: 10px;
  line-height: 1em;
}
.step-con1 p, .warm-R p{
  font-size: 1em;
  color: #9B9B9B;
  font-weight: 300;
  margin-left: 5%;
  line-height: 1.8em;
}

 /*banner */
 .banner-faq{
   margin: 6% 0;
 }
 a.inner-faq{
   margin:6% 0;
   display: block;
   width: 100%;
   height: auto;
   background-image: url(../img/banner_1.svg);
   background-repeat: no-repeat;
   background-position: 0 100%;;
   background-color: #F5F5F5;
   padding: 5.5% 0;
   text-align: right;
   padding-right: 7%;
   font-size: 1.875em;
   color: #A5B6F3;
 }
 a.inner-faq:hover{
   color: #fff;
   background-color: #FFB8AC;
 }

 @media (max-width:1140px) {
   .taste-L p {
     font-size: 1.25em;
   }
   .step-tit p, .taste-R-word p {
    font-size: 1em;
  }
  .step-con1 img{
    width: 30%;
  }
  .taste-R-step-R img{
    width: 35%;
    margin-top: 13%;
  }
  .taste-R-box-top img {
    width: 15%;
  }
  .warm-com img {
    width: 15%;
  }
  .step-con1 p, .warm-R p {
    font-size: 1em;
  }
  .taste-R-box-one img{
    width: 20%;
  }
  .states-icon img{
    width: 60%;
  }
 }
 @media (max-width:1028px) {
   .taste-R-step {
    width: 100%;
  }
 .taste-R, .taste-R-inner {
   flex-direction: column;
   width: 75%;
 }
 .taste-R-step-R {
    width: 100%;
    margin-top: 7%;
  }
  .step-con1 {
    align-items: flex-start;
  }
  .taste-R-step-R img {
    margin-top: 5%;
    width: 23%;
  }
  .taste-R-word p:nth-child(3) {
    font-size: 16px;
  }
  .taste-R-box p.note {
    font-size: 14px;
  }
  a.inner-faq {
    background-size: 30%;
  }
  .step-tit {
    margin-bottom: 5%;
  }
  .step-con1 img {
      width: 20%;
  }
  .taste-R-step-R img {
    margin-top: 0%;
    width: 10%;
  }
 }
@media (max-width:944px){
  .taste-L p {
    font-size: 1.125em;
  }
}
 @media (max-width:906px) {
  .taste-R-step {
    width: 100%;
  }
  .taste-R {
    display: block;
    width: 75%;
  }
  .taste-R-step-R {
    width: 100%;
    margin-top: 7%;
  }
  .taste-R-step-R img {
    margin-top: 0%;
    width: 10%;
  }
  .step-tit p, .taste-R-word p {
    font-size: .9375em;
  }
  .step-tit p, .taste-R-word p {
    font-size: 1em;
  }

  a.inner-faq{
    background-size: 27%;
    font-size: 22px;
  }
  .step-con1 img {
    width: 20%;
  }
  .step-tit {
    margin-bottom: 5%;
  }
 }
 @media (max-width:851px) {
   .inner-taste {
    padding: 0 5%;
  }
  .taste-box{
    flex-direction: column;
  }
  .taste-L{
    margin-bottom: 3%;
    padding-left: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .taste-R-step, .step-con1, .taste-R, .taste-R-inner {
    width: 100%;
  }
  .taste-L p {
    font-size: 1.25em;
  }
  .step-tit p, .taste-R-word p {
    font-size: 1.125em;
  }
  .step-con1 p, .warm-R p, .taste-R-box p.note{
    font-size: 1em;
  }
  .taste-R-word p:nth-child(3) {
    font-size: 16px;
  }
 }

@media (max-width:650px){
  .step-con, .warm-com {
    flex-direction: column;
  }
  .step-con1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }
  .taste-L {
    justify-content: center;
    margin-bottom: 7%;
  }
  .step-tit{
    justify-content: center;
    display: flex;
  }
  .taste-R-word{
    justify-content: center;
  }
  .warm-com{
    align-items: center;
  }
  .taste-R-step-R{
    text-align: center;
  }
  .taste-R-box-top{
    text-align: center;
  }
  .warm-R p:nth-child(1){
    text-align: center;
    margin-left: 0%;
    font-size: 1.375em;
  }
  .step-con1 p, .warm-R p{
    margin-left: 0%;
    margin-top: 5%;
    text-align: center;
  }
  .taste-R-box {
    text-align: center;
  }
  .taste-states{
    display: block;
  }
  .states-icon {
    float: left;
    text-align: center;
    width: 33.33%;
    margin-top: 2%;
}
.states-icon p {
    font-size: 1em;
    padding-top: 20px;
  }
  .taste-L p {
    font-size: 1.625em;
    margin-top: 5%;
  }
  .taste-R-box p.note {
    margin-top: 5%;
  }
  .step-tit p, .taste-R-word p {
    font-size: 1.375em;
  }
  .taste-R-step-R img {
    width: 20%;
  }
  .taste-R-box-top img {
    width: 25%;
  }
  .warm-com img {
    width: 25%;
  }
  .taste-R-box-one img {
    width: 35%;
  }
  .taste-last-icon{
    display: flex;
    justify-content: center;
  }
  .taste-states::after{
    display: block;
    clear: both;
  }
  .banner-faq{
    margin-top: 10%;
  }
  .taste-R-word p:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
  }
}
@media (max-width:600px){
  .taste-R-word p {
    font-size: 1.25em;
  }
  .taste-R-word p:nth-child(3){
    display: none;
  }
  .inner-warm {
    margin-top: 0%;
  }
  .taste-R-img::before{
    display: block;
    content: "自冷藏取出即可飲用";
    font-size: 1em;
    color: #9B9B9B;
    font-weight: 400;
    margin-top: 5%;
  }
  .inner-warm::before{
    display: block;
    content: "加熱後即可飲用。建議加熱方式如下：";
    font-size: 1em;
    color: #9B9B9B;
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }
  .taste-box::after{
    display: block;
    content: "";
    border-bottom: 1px solid #F5F5F5;
    margin-top: 5%;
  }
  .devider{
    display: none;
  }
}
@media (max-width:544px){
  .taste-R-word p, .step-tit p {
    font-size: 1.125em;
  }
  .warm-R p:nth-child(1) {
    font-size: 1.125em;
  }
  a.inner-faq {
    background-size: 35%;
  }
}
@media (max-width:468px){
  .taste-L p {
    font-size: 1.375em;
  }
  .taste-R-word p, .step-tit p {
    font-size: 1em;
  }
}
@media (max-width:442px){
  .step-tit p, .taste-R-word p{
    border-left: 0px solid #A5B6F3;
    font-size: 1.25em;
    line-height: 1.8em;
  }
  .taste-L p {
    font-size: 1.375em;
  }
  a.inner-faq {
    background-size: 30%;
    font-size: 18px;
  }
  .soup-type{
    background-color: #F5F5F5;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    padding-right: 5px;
  }
}
@media (max-width:414px){
  .taste-L {
    margin-bottom: 10%;
  }
  .taste-L p {
      font-size: 1.25em;
  }
  .step-tit p, .taste-R-word p{
    font-size: 1.125em;
  }
  .step-con1 img {
    width: 40%;
  }
  .taste-R-step-R img {
    width: 40%;
  }
  .taste-R-box-top img {
    width: 50%;
  }
  .warm-com img {
    width: 50%;
  }
  .taste-R-box-one img {
    width: 60%;
  }
  .states-icon {
    width: 50%;
  }
  .taste-R-box {
    margin-bottom: 10%;
  }
  .step-con1 {
    margin-bottom: 10%;
  }
  .taste-R-step-R {
    margin-top: 0%;
  }
  .inner-warm div:first-child {
    margin-bottom: 10%;
  }
  .soup-type{
    background-color: #F5F5F5;
    height: 30px;
  }
}
@media (max-width:375px){
  .taste-L p {
    font-size: 1.15em;
  }
  .step-tit p, .taste-R-word p {
    font-size: 1em;
  }
  .warm-R p:nth-child(1) {
    font-size: 1em;
  }
  .taste-R-box {
    margin-bottom: 10%;
  }
  .warm-com {
    margin-top: 10%;
  }
  .soup-type{
    background-color: #F5F5F5;
    width: 70px;
    height: 30px;
    padding-top: 2px;

  }
}
@media (max-width:320px){
  .taste-L p {
    font-size: 1em;
  }
  .step-tit p, .taste-R-word p {
    font-size: .875em;
  }
  .warm-R p:nth-child(1) {
    font-size: .875em;
  }
  .taste-R-box {
    margin-bottom: 10%;
  }
  .warm-com {
    margin-top: 10%;
  }
  .step-con1 p, .warm-R p, .taste-R-box p.note {
    font-size: .875em;
  }
  .taste-R-img::before, .inner-warm::before{
    font-size: .875em;
  }
  .states-icon p {
    font-size: .875em;
  }
  .step-con1 img {
    width: 30%;
  }
  .taste-R-step-R img {
    width: 30%;
  }
  .taste-R-box-top img {
    width: 40%;
  }
  .warm-com img {
    width: 40%;
  }
  .taste-R-box-one img {
    width: 50%;
  }
  .states-icon img {
    width: 50%;
  }
  .soup-type{
    height: 30px;
    padding-top: 4px;
  }

  a.inner-faq {
    font-size: 16px;
  }
}

/*產品頁面*/

.soup-kv{
  width: 100%;
  margin-top: 13%;
  margin-bottom: 0;
}
.inner-soup, .soups{
  max-width: 1240px;
  margin: auto;
}
.inner-soup{
  display: flex;
  flex-direction: row;
}
.soup-kv-L{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.soup-kv-R{
  width: 50%;
  height: 262px;
  background-image: url(../img/soup_kv_3.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.soup-kv-L :nth-child(2){
  margin-bottom: 5%;
}
.soup-kv-L p{
  font-size: 24px;
  color: #FFB8AC;
  font-weight: 400;
  line-height: 1.8;
}
/*湯品介紹*/
/*熱湯品*/
.soups{
  width: 100%;
  margin-top: 5%;
}
.soup-product{}
.soup-tit{
  display: flex;
  flex-direction: row;
}
.soup-tit{
  margin-top: 10%;
}
.soup-tit :nth-child(3){
  margin-left: 2%;
  font-size: 30px;
  color: #FFB8AC;
}
.soup-tit :nth-child(4){
  font-size: 30px;
  color: #9B9B9B;
  margin-left: 2%;
}
.soup-tit img{
  width: 4%;
}
.soup-line .line-center{
  margin: 0% 10%;
  margin-top: 20%;
  width: 100px;
  height: 4px;
  background: -webkit-linear-gradient(left, #FFB8AC , #A5B6F3);
  background: -o-linear-gradient(right, #FFB8AC, #A5B6F3);
  background: -moz-linear-gradient(right, #FFB8AC, #A5B6F3);
  background: linear-gradient(to right, #FFB8AC , #A5B6F3);
}
.soup-box{
  margin-top: 7%;
}
.soup-box-con{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
}
.soup-img{
  width: 30%;
}
.soup-img img{
  width: 78%;
}
.soup-info{
  width: 70%
}
.soup-info-1, .based, .heat{
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
}
.soup-info-1{
  margin-bottom: 2%;
}
.soup-info-1 p{
  display: block;
  font-size: 26px;
  color: #A5B6F3;
  border-left: 0px solid #A5B6F3;
  margin-right: 2%;
}
.soup-info-1 :last-child{
  width: 100%;
  letter-spacing: .2em;
  text-align: left;
}
.heat{
}
.heat :first-child{
  font-size: 20px;
  color: #FFB8AC;
  margin-right: 3%;
  height: 35px;
  line-height: 35px;
}
.heat p.soup-based{
  font-size: 1.375em;
  color: #9B9B9B;
  height: 1.59em;
  line-height: 1.59em;
  margin-left: 2%;
}
.soup-description{
  margin-top: 3%;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.8em;
  color: #9B9B9B;
}
a.soup-bt{
  display: block;
  margin-top: 2%;
  width: 10em;
  font-size: 1em;
  text-align: center;
  height: 2.7em;
  line-height: 2.7em;
  background-color: #F5F5F5;
  color: #FFB8AC;
  border-radius: 4em;
}
a.soup-bt:hover{
  background: #FFB8AC;
  color: #fff;
  text-decoration: none;
}
/*banner*/
.banner-btn{
}
.banner-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a.inner-faq-L{
  width: 60%;
  margin: 6% 0;
  display: block;
  height: auto;
  background-image: url(../img/banner_1.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-color: #F5F5F5;
  padding: 5.5% 0;
  text-align: right;
  padding-right: 3%;
  font-size: 1.875em;
  color: #A5B6F3;
}
a.inner-shop-R{
  width: 39%;
  margin: 6% 0;
  display: block;
  height: auto;
  background-image: url(../img/banner_2.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 35%;
  background-color: #F5F5F5;
  padding: 5.5% 0;
  text-align: right;
  padding-right: 3%;
  font-size: 1.875em;
  color: #A5B6F3;
}
a.inner-faq-L:hover, a.inner-shop-R:hover {
    color: #fff;
    background-color: #FFB8AC;
}

@media (max-width:1140px) {
  .soup-kv{
    max-width: 1080px;
  }
  .soup-kv {
    margin-top: 15%;
  }
  .soup-tit {
    margin-top: 5%;
  }
  .soup-kv-L img {
    width: 50%;
    margin-top: 2%;
  }
  .soup-kv-L p {
    font-size: 20px;
  }
  .soup-kv-L :nth-child(2) {
    margin-bottom: 3%;
  }
  .soup-kv-R {
    background-position: 100% 0%;
    background-size: 50%;
  }
  .soup-tit :nth-child(3) {
    font-size: 22px;
  }
  .soup-tit :nth-child(4) {
    font-size: 22px;
  }
  .soup-line .line-center {
    margin-top: 15%;
  }
  .heat :first-child {
    font-size: 18px;
  }
  .heat p.soup-based {
    font-size: 1.275em;
  }
  .soup-info-1 p {
    font-size: 24px;
  }
  a.inner-faq-L, a.inner-shop-R{
    font-size: 1.5em;
  }
  a.inner-faq-L {
    background-size: 40%;
  }
}
@media (max-width:980px) {
  .soup-kv{
    max-width: 900px;
  }
  .soup-kv-R {
    background-size: 45%;
  }
  .soup-kv {
    margin-top: 18%;
  }
  .soup-kv-L p {
    font-size: 18px;
  }
  .soups {
    margin-top: -5%;
  }
  .soup-tit :nth-child(3), .soup-tit :nth-child(4) {
    font-size: 20px;
  }
  .soup-info-1 p {
    font-size: 20px;
  }
  .heat :first-child {
    font-size: 1em;
  }
  .heat p.soup-based {
    font-size: 1em;
    height: 35px;
    line-height: 35px;
  }
  a.soup-bt {
    font-size: .875em;
    margin-top: 4%;
  }
}
@media (max-width:900px) {
  .soup-kv{
    max-width: 840px;
  }
}
@media (max-width:850px) {
  .soup-kv{
    max-width: 790px;
  }
  .soups {
    margin-top: -10%;
  }
  .soup-description {
    font-size: .9375em;
  }
}
@media (max-width:800px) {
  .soup-kv{
    max-width: 740px;
  }
  .soup-kv {
    margin-top: 20%;
  }
  .soup-kv-L p {
    font-size: 16px;
  }
  .soup-info-1 p {
    font-size: 18px;
  }
  .soups {
    margin-top: -13%;
  }
  a.inner-faq-L, a.inner-shop-R {
    font-size: 1.375em;
  }
}
@media (max-width:767px) {
  .soup-kv{
    max-width: 707px;
  }
  .soup-kv {
    margin-top: 15%;
  }
  .soup-kv-L {
    width: 60%;
  }
  .soup-kv-R{
    width: 40%;
    background-size: 60%;
  }
  .soup-tit {
    margin-top: 10%;
  }
  .soup-description {
    font-size: 1em;
  }
}
@media (max-width:700px) {
  .soup-kv{
    max-width: 640px;
  }
  .soups {
    margin-top: -15%;
  }
}
@media (max-width:640px) {
  .soup-kv{
    max-width: 580px;
  }
  .soups {
    margin-top: -15%;
  }
}
@media (max-width:600px) {
  .soup-kv{
    max-width: 540px;
  }
  .soup-kv {
    margin-top: 20%;
  }
  .soups {
    margin-top: -20%;
  }
  .soup-line .line-center {
    margin: 0% 8%;
    width: 70px;
    height: 2px;
    margin-top: 18%;
  }
  .soup-tit :nth-child(3), .soup-tit :nth-child(4) {
    font-size: 16px;
  }
  .soup-kv-L p {
    font-size: 15px;
  }
  a.soup-bt {
    margin-top: 5%;
    width: 8em;
  }
  a.inner-faq-L, a.inner-shop-R {
    font-size: 1.125em;
  }
}
@media (max-width:560px) {
  .soup-kv{
    max-width: 500px;
  }
  .soup-kv {
    margin-top: 20%;
  }
  .inner-soup {
    flex-direction: row-reverse;
  }
  .soup-kv-R {
    background-position: 0% 0%;
    background-size: 80%;
  }
  .soup-kv-L {
    width: 100%;
  }
  .soup-kv-L img {
    width: 35%;
  }
  .soup-tit{
    justify-content: center;
  }
  .soup-tit :nth-child(3), .soup-tit :nth-child(4) {
    font-size: 20px;
  }
  .soup-box-con {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
  }
  .soup-img {
    width: 40%;
    text-align: center;
  }
  .soup-img img {
    width: 100%;
    margin-bottom: 15%;
  }
  .soup-info-1 :last-child {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }
  .soup-info {
    width: 100%;
  }
  .soup-info-1{
    display: flex;
    justify-content: center;
  }
  .soup-info-2{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: center;
    flex-direction: row;
  }
  .based-L{
    width: 50%;
    justify-content: center;
  }
  .based-R{
    width: 45%;
    justify-content: center;
  }

  a.soup-bt {
    margin: auto;
  }
  .soup-description {
    font-size: 1em;
  }
  .soup-kv-L p {
    font-size: 16px;
  }
  .soup-description {
    margin-bottom: 5%;
  }
  a.soup-bt {
    font-size: 1.2em;
    width: 12em;
  }
}
@media (max-width:500px) {
  .soup-kv{
    max-width: 440px;
  }
  .soup-kv-R {
    display: none;
  }
  .soup-kv-L img {
    width: 45%;
  }
  .inner-soup{
    flex-direction: row;
  }
  .soups {
    margin-top: 10%;
  }
  .soup-info-2 {
    width: 100%;
  }
  .based-R {
    width: 50%;
  }
}
@media (max-width:460px) {
  .soup-kv{
    max-width: 400px;
  }
  .heat :first-child, .heat p.soup-based {
    font-size: .8125em;
  }
}
@media (max-width:414px) {
  .soup-kv {
    margin-top: 25%;
  }
  .soup-kv{
    max-width: 374px;
  }
  .soup-tit img {
    width: 10%;
  }
  .soup-line .line-center {
    width: 50px;
    margin-top: 24%;
  }
  .soup-tit :nth-child(3), .soup-tit :nth-child(4) {
    font-size: 18px;
  }
  .soup-img {
    width: 100%;
  }
  .soup-img img {
    width: 60%;
    margin-bottom: 10%;
  }
  .soup-box-con {
    margin-top: 15%;
  }
  .soup-info-2 {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .based-L {
    width: 100%;
  }
  .based-R {
    width: 100%;
  }
  .soup-tit :nth-child(3), .soup-tit :nth-child(4) {
    font-size: 20px;
  }
  .banner-inner{
    flex-direction: column;
  }
  a.inner-faq-L, a.inner-shop-R{
    width: 100%;
  }
  a.inner-faq-L {
    margin: 0% 0;
    background-size: 35%;
    background-position: 0% 100%;
    font-size: 1.375em;
  }
  a.inner-shop-R {
    background-position: 5% 100%;
    background-size: 20%;
    font-size: 1.875em;
    font-size: 1.375em;
  }

}
@media (max-width:390px) {
  .soup-kv{
    max-width: 350px;
  }
  .soup-kv {
    margin-top: 30%;
  }
  .soup-tit :nth-child(3), .soup-tit :nth-child(4) {
    font-size: 18px;
  }
}
@media (max-width:375px) {
  .soup-kv{
    max-width: 335px;
  }
  .soup-kv {
    margin-top: 30%;
  }
  .soup-tit :nth-child(3), .soup-tit :nth-child(4) {
    font-size: 18px;
  }
  a.inner-shop-R, a.inner-faq-L {
    font-size: 1em;
  }
  a.soup-bt {
    font-size: 1em;
  }
  .soup-img img {
    width: 50%;
  }
}
@media (max-width:320px) {
  .soup-kv{
    max-width: 280px;
  }
  .soup-line .line-center {
    width: 30px;
    margin-top: 32%;
  }
  .soup-tit :nth-child(3), .soup-tit :nth-child(4) {
    font-size: 15px;
  }
  .soup-kv-L p {
    font-size: 14px;
  }
  .soup-info-1 :last-child {
    font-size: 16px;
  }
  .heat :first-child {
    font-size: .875em;
  }
  .heat p.soup-based {
    font-size: .875em;
  }
  .soup-description {
    font-size: .875em;;
  }
  a.soup-bt {
    font-size: .875em;
  }
  .soup-img img {
    width: 40%;
  }
}
