/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
		*,
		*:after,
		*:before {
		  box-sizing: border-box;
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  -webkit-font-smoothing: antialiased;
		  font-smoothing: antialiased;
		  text-rendering: optimizeLegibility
		}*/
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft YaHei", '新細明體', sans-serif;
        list-style-type: none;
      }
		a {
		  text-decoration: none;
		}

		.tab.theme-a {
		  text-align: center;
		  position: relative;
		}

		.tab-component ul {
		  font-size: 0;
		  width: 100%;
		  display: inline-block;
		  text-align: center;
		  top: 20px;
		  padding: 0;
		}

		.tab-component {
		  position: relative;
		  width: 100%;
		  display: inline-block;
		}

		.tab li {
		  float: none;
		  list-style: none;
		  display: inline-block;
		  width: 33.33%;
		  text-align: center;
		  font-size: 14px;
		  padding: 0;
		  height: 30px;
		  position: relative;
		}

		.tab li a {
      color: #CFCFCF;
		  font-size: 1.5em;
		  padding: 0;
		  width: 100%;
      height: 5em;
		  display: inline-block;
		  line-height: 30px;
		  vertical-align: middle;
		  text-decoration: none;
		}
    .tab li a:hover{
      color: #FFB8AC;
    }
    .tab li a.active{
      color: #FFB8AC;
    }

		.tab-underline {
		  height: 1px;
		  width: 100%;
		  background-color: #EDEDF0;
		  border-radius: 3px;
		  position: relative;
		}
		.tab-underline .line {
		  width: 33.33%;
		  display: inline-block;
		  height: 1px;
		  background-color: #FFB8AC;
		  position: absolute;
		  left: 0;
		  transition: .3s ease-in-out;
		}
    .one-underline .line {
      width: 33.33%;
		  display: inline-block;
		  height: 1px;
		  background-color: #FFB8AC;
    }

    .tab li.active:first-child~.tab-underline .line {
		  left: 0;
		}

		.tab li.active:nth-child(2)~.tab-underline .line {
		  left: 33.33%;
		}

		.tab li.active:last-of-type~.tab-underline .line {
		  left: 66.66%;
		}

		.tab-component section {
		  width: 100%;
		  display: inline-block;
		  text-align: left;
		  position: relative;
		  top: 20px;
		  display: none;
		}

		.tab-component section:first-of-type {
		  display: inline-block;
		}
@media (max-width:920px) {
  .tab li a {
    font-size: 1.25em;
    height: 4em;
  }
}
@media (max-width:650px) {
  .tab-component section {
    top: 80px;
  }
  .tab-underline{
    display: none;
  }
  /* ------- 按鈕漸變 ------- */
  .tab li a{
    background-color: #F5F5F5;
    width: 98%;
    height: 120px;
    padding-top: 20%;
    border-radius: 6px;

    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tab li a.active {
    background: #ffb8ac;
    color: #ffffff;
  }
  /* ------- 按鈕漸變 ------- */
}
@media (max-width:570px) {
  .tab li a {
    height: 100px;
  }
  .tab-component section {
    top: 70px;
  }
}
@media (max-width:450px) {
  .tab li a {
    padding-top: 25%;
  }
}
@media (max-width:414px) {
  .tab-component section {
    top: 50px;
  }
  .tab li a {
    height: 5em;
    padding-top: 20%;
  }
}
@media (max-width:375px) {
  .tab li a {
    height: 4.25em;
    padding-top: 18%;
  }
}
@media (max-width:320px) {
  .tab li a {
    height: 5em;
    padding-top: 20%;
    font-size: 1em;
  }
  .tab-component section {
    top: 40px;
  }
}
