/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
		*,
		*:after,
		*:before {
		  box-sizing: border-box;
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  -webkit-font-smoothing: antialiased;
		  font-smoothing: antialiased;
		  text-rendering: optimizeLegibility
		}*/
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft YaHei", '新細明體', sans-serif;
        list-style-type: none;
      }
		a {
		  text-decoration: none;
		}

		.tab.theme-a {
		  text-align: center;
		  position: relative;
		}

		.tab-component ul {
		  font-size: 0;
		  width: 100%;
		  display: inline-block;
		  text-align: center;
		  top: 20px;
		  padding: 0;
		}

		.tab-component {
		  position: relative;
		  width: 100%;
		  display: inline-block;
		}

		.tab li {
		  float: none;
		  list-style: none;
		  display: inline-block;
		  width: 16.666%;
		  text-align: center;
		  font-size: 14px;
		  padding: 0;
		  height: 30px;
		  position: relative;
		}

		.tab li a {
      color: #CFCFCF;
		  font-size: 1.25em;
		  padding: 0;
		  width: 100%;
      height: 5em;
		  display: inline-block;
		  line-height: 30px;
		  vertical-align: middle;
		  text-decoration: none;
		}
    .tab li a:hover{
      color: #FFB8AC;
    }
    .tab li a.active{
      color: #FFB8AC;
    }

		.tab-underline {
		  height: 1px;
		  width: 100%;
		  background-color: #EDEDF0;
		  border-radius: 3px;
		  position: relative;
		}

		.tab-underline .line {
		  width: 16.666%;
		  display: inline-block;
		  height: 1px;
		  background-color: #FFB8AC;
		  position: absolute;
		  left: 0;
		  transition: .3s ease-in-out;
		}

		.tab li.active:first-child~.tab-underline .line {
		  left: 0;
		}

		.tab li.active:nth-child(2)~.tab-underline .line {
		  left: 16.666%;
		}
    .tab li.active:nth-child(3)~.tab-underline .line {
		  left: 33.332%;
		}
    .tab li.active:nth-child(4)~.tab-underline .line {
		  left: 49.998%;
		}

    .tab li.active:nth-child(5)~.tab-underline .line {
      left: 66.664%;
    }
		.tab li.active:last-of-type~.tab-underline .line {
		  left: 83.33%;
		}

		.tab-component section {
		  width: 100%;
		  display: inline-block;
		  text-align: left;
		  position: relative;
		  top: 20px;
		  display: none;
		}

		.tab-component section:first-of-type {
		  display: inline-block;
		}
    @media (max-width:920px) {
      .tab li a {
        font-size: 1.25em;
        height: 4em;
      }
    }
    @media (max-width:767px) {
      .tab-underline{
        display: none;
      }
      .tab li {
  		  width: 33.33%;
        height: 104px;
  		}

      /* ------- 按鈕漸變 ------- */
      .tab li a{
        background-color: #F5F5F5;
        width: 98%;
        height: 100px;
        padding-top: 15%;

        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: ease-in;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .tab li a.active {
        background: #ffb8ac;
        color: #ffffff;
      }
      /* ------- 按鈕漸變 ------- */
    }
    @media (max-width:570px) {
      .tab-component{
        margin-top: -25px;
      }
      .tab li {
  		  width: 33.33%;
        height: 84px;
  		}
      .tab li a{
        background-color: #F5F5F5;
        width: 98%;
        height: 80px;
        padding-top: 15%;
      }

    }
    @media (max-width:450px) {
      .tab li a {
        padding-top: 20%;
      }
    }
    @media (max-width:414px) {
      .tab-component{
        margin-top: -25px;
      }
      .tab li {
  		  width: 33.33%;
        height: 84px;
        font-size: 13px;
  		}
      .tab li a{
        background-color: #F5F5F5;
        width: 98%;
        height: 80px;
        padding-top: 17%;
      }
    }
    @media (max-width:375px) {
      .tab li {
        height: 72px;
        font-size: 12px;
  		}
      .tab li a{
        height: 70px;
        padding-top: 20%;
      }

    }
    @media (max-width:320px) {

    }
