/* 超小螢幕設備（手機，小於 768px） */
body{
  background-image: url("../img/bg_paper-min.png");
  background-repeat: repeat;
  background-size: auto;
}

/*.overlay{
  width: 100%;
  padding: 0;
}*/

.overlay .row-game{
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  margin: 0;
}

.row-game img:first-child{
  position: absolute;
  z-index: -1;
  top: 225px;
}

.row-game img:last-child{
  position: absolute;
  z-index: 1;
  top: 300px;
}

.row-game .game-mask{
  background-image: url("../img/mask.svg");
  background-repeat: repeat;
  position: absolute;
  z-index: 2;
  width: 375px;
  height: 800px;
}




/* 小螢幕設備（平板，768px（含）以上） */
@media (min-width: @screen-sm-min) { ... }
