/* 超小螢幕設備（手機，小於 768px） */
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

  .container-result{
    padding-right: 0;
    padding-left: 0;
  }

  .row-result{
    width: 100%;
    max-width: 414px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .row-result .result-top{
    margin-top: 50px;
    padding: 35px 0;
  }

  .result-top img{
    float: left;
    width: 240px;
  }

  .replay-game{
    float: right;
    display: block;
    width: 46px;
    height: 46px;
    margin-top: -5px;
  }

  .btn-replay{
    background-image: url("../img/btn_replay_normal.svg");
  }

  .btn-replay:hover{
    background-image: url("../img/btn_replay_active.svg");
  }

  .result-middle{
    width: 100%;
    text-align: center;
    /*margin: 0 auto;*/
  }

  .result-middle img:nth-child(1){
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .result-middle img:nth-child(2){
    width: 100%;
    margin-bottom: 15px;
  }

  .result-middle .result-btn{
    width: 100%;
    height: 45px;
    background-size: 100%;
  }

  .result-middle .btn-download{
    background-image: url("../img/download_sticker_normal.svg");
    background-repeat: no-repeat;
  }

  .result-middle .btn-download:hover{
    background-image: url("../img/download_sticker_active.svg");
    background-repeat: no-repeat;
  }

  .result-bottom{
    width: 300px;
    margin-bottom: 15px;
    padding: 12px 0;
    display: block;
    margin: 0 auto;
  }
  .result-bottom img{
    float: left;
    margin-left:0px;
  }

  .result-bottom .share-line{
    float: right;
    width: 200px;
    height: 49px;
  }

  .result-bottom .btn-line{
    margin-right: -10px;
    background-size: 95%;
    background-repeat: no-repeat;
    background-image: url("../img/share_line_normal.svg");
  }

  .result-bottom .btn-line:hover{
    background-image: url("../img/share_line_active.svg");
  }

  .fix-clear{
    /*clear: both;*/
  }

  .result-bottom .share-fb{
    float: right;
    width: 200px;
    height: 49px;

  }

  .result-bottom .btn-fb{
    margin-right: -10px;
    background-size: 95%;
    background-repeat: no-repeat;
    background-image: url("../img/share_fb_normal.svg");
  }

  .result-bottom .btn-fb:hover{
    background-image: url("../img/share_fb_active.svg");
  }
}


@media only screen and (min-width : 360px){
  .result-middle .result-btn {
      width: 100%;
      height: 55px;
      background-size: 100%;
  }

  .result-bottom {
    width: 300px;
    margin-bottom: 30px;
    padding: 20px 0;
    display: block;
    margin: 0 auto;
  }

  .result-middle img:nth-child(1) {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}
}

@media only screen and (min-width : 375px){

  .container-result{
    padding-right: 0;
    padding-left: 0;
  }

  .row-result{
    width: 100%;
    max-width: 414px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .row-result .result-top{
    margin-top: 60px;
    padding: 35px 0;
  }

  .result-top img{
    float: left;
    width: 284px;
  }

  .replay-game{
    float: right;
    display: block;
    width: 46px;
    height: 46px;
  }

  .btn-replay{
    background-image: url("../img/btn_replay_normal.svg");
  }

  .btn-replay:hover{
    background-image: url("../img/btn_replay_active.svg");
  }

  .result-middle{
    width: 100%;
    text-align: center;
    /*margin: 0 auto;*/
  }

  .result-middle img:nth-child(1){
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .result-middle img:nth-child(2){
    margin-bottom: 15px;
  }

  .result-middle .result-btn{
    width: 100%;
    height: 50px;
    background-size: 100%;
  }

  .result-middle .btn-download{
    background-image: url("../img/download_sticker_normal.svg");
    background-repeat: no-repeat;
  }

  .result-middle .btn-download:hover{
    background-image: url("../img/download_sticker_active.svg");
    background-repeat: no-repeat;
  }

  .result-bottom{
    width: 355px;
    max-width: 355px;
    margin-bottom: 15px;
    padding: 12px 0;
    display: block;
    margin: 0 auto;
  }
  .result-bottom img{
    float: left;
    margin-left:15px;
  }

  .result-bottom .share-line{
    float: right;
    width:220px;
    height: 49px;
    /*margin-right: 5px;*/
  }

  .result-bottom .btn-line{
    margin-right: -12px;
    background-image: url("../img/share_line_normal.svg");
  }

  .result-bottom .btn-line:hover{
    background-image: url("../img/share_line_active.svg");
  }

  .fix-clear{
    clear: both;
  }

  .result-bottom .share-fb{
    float: right;
    width:220px;
    height: 49px;
    margin-right: 5px;
  }

  .result-bottom .btn-fb{
    margin-right: -12px;
    background-image: url("../img/share_fb_normal.svg");
  }

  .result-bottom .btn-fb:hover{
    background-image: url("../img/share_fb_active.svg");
  }
}

/* 小螢幕設備（平板，768px（含）以上） */
@media only screen and (min-width : 412px){

  .row-result .result-top {
    margin-top: 50px;
    padding: 35px 0;
  }

  .result-middle img:nth-child(1) {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .result-middle{
    width: 100%;
    text-align: center;
    margin-top: 0px;
  }

  .result-middle .result-btn{
    width: 100%;
    height: 55px;
    background-size: 100%;
    margin-bottom: 10px;
  }

  .result-middle .btn-download{
    background-image: url("../img/download_sticker_normal.svg");
    background-repeat: no-repeat;
  }

  .result-middle .btn-download:hover{
    background-image: url("../img/download_sticker_active.svg");
    background-repeat: no-repeat;
  }

  .result-middle img:nth-child(2){
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .result-bottom img {
    float: left;
    width: 35%;
    margin-left: 0px;
  }

  .result-bottom .share-line{
    float: right;
    width:220px;
    height: 49px;
    /*margin-right: 5px;*/
  }

  .result-bottom .btn-line{
    background-size: 100%;
    margin-right: -12px;
    background-image: url("../img/share_line_normal.svg");
  }

  .result-bottom .btn-line:hover{
    background-image: url("../img/share_line_active.svg");
  }

  .fix-clear{
    clear: both;
  }

  .result-bottom .share-fb{
    float: right;
    width:220px;
    height: 49px;
    margin-right: 5px;
  }

  .result-bottom .btn-fb{
    background-size: 100%;
    margin-right: -12px;
    background-image: url("../img/share_fb_normal.svg");
  }

  .result-bottom .btn-fb:hover{
    background-image: url("../img/share_fb_active.svg");
  }

}


/* 小螢幕設備（平板，768px（含）以上） */
@media only screen and (min-width : 768px){

  .row-result .result-top {
    margin-top: 50px;
    padding: 35px 0;
  }

  .content-mid img:nth-child(1) {
    margin: 10px 0 10px 0;
}

  .result-middle{
    width: 100%;
    text-align: center;
    margin-top: 0px;
  }

  .result-middle .result-btn{
    width: 100%;
    height: 65px;
    background-size: 100%;
    margin-bottom: 10px;
  }

  .result-middle .btn-download{
    background-image: url("../img/download_sticker_normal.svg");
    background-repeat: no-repeat;
  }

  .result-middle .btn-download:hover{
    background-image: url("../img/download_sticker_active.svg");
    background-repeat: no-repeat;
  }

  .result-middle img:nth-child(2){
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .result-bottom img {
    float: left;
    width: 35%;
    margin-left: 0px;
  }

  .result-bottom .share-line{
    float: right;
    width:220px;
    height: 49px;
    /*margin-right: 5px;*/
  }

  .result-bottom .btn-line{
    background-size: 100%;
    margin-right: -12px;
    background-image: url("../img/share_line_normal.svg");
  }

  .result-bottom .btn-line:hover{
    background-image: url("../img/share_line_active.svg");
  }

  .fix-clear{
    clear: both;
  }

  .result-bottom .share-fb{
    float: right;
    width:220px;
    height: 49px;
    margin-right: 5px;
  }

  .result-bottom .btn-fb{
    background-size: 100%;
    margin-right: -12px;
    background-image: url("../img/share_fb_normal.svg");
  }

  .result-bottom .btn-fb:hover{
    background-image: url("../img/share_fb_active.svg");
  }


}
