*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Helvetica Neue",Helvetica,Arial,"微軟正黑體","Microsoft YaHei",'新細明體',sans-serif;
}
a.download:focus, a.download:visited, a.download:active{
  outline:none;
  text-decoration: none;
}
.con-main{
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/top_patern.png);
  background-repeat: no-repeat;
  background-position: top;
}

.h-kv{
  text-align: center;
  margin: 0 auto;
  width: 970px;
}
.header-con{
}
.header-con>p:nth-child(1){
  margin-top: 130px;
}
.header-con>p:nth-child(3)>img{
  margin-top: 40px;
}
.vote{
  width: 700px;
  height: 86px;
  margin: 0 auto;
  margin-top: 20px;
}
.vote>img{
  width: 60%;
  margin-top: 20px;
  margin-right: 40px;
}
p.bt-vote{
  float: left;
  margin-left: 60px;
}
/*報名去*/
p.bt-vote a{
  display: block;
  background-image: url(../img/bt_signup.svg);
  background-repeat: no-repeat;
  width: 158px;
  height: 86px;
}
p.bt-vote a:hover{
  display: block;
  background-image: url(../img/bt_signup_hover.svg);
  background-repeat: no-repeat;
  width: 158px;
  height: 86px;
}
/*投票去*/

/*section2-info*/

.info{
  clear: both;
  width: 100%;
  margin-top: 50px;
}
.info-box{
  width: 850px;
  height: 230px;
  margin: 0 auto;
  margin-top: 60px;
}
.info-tit{
  width: 850px;
  margin: 0 auto;
  text-align: center;
}
.box-L{
  float: left;
  width: 425px;
  text-align: center;
}
.box-R{
  float: right;
  width: 425px;
  text-align: center;
}
.box-L>img{
  margin-bottom: 20px;
}
.box-R>img{
  margin-bottom: 20px;
}
p.info-w{
  line-height: 1em;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: .1em;
}
.info-box div:nth-child(3){
  clear: both;
}

/*section2-category*/
.category{
  width: 100%;
  margin-top: 50px;
}
.category>.info-tit{
  margin-bottom: 60px;
}
.frame-con{
  margin-top: 60px;
  width: 850px;
  height: 520px;
  margin: 0 auto;
  border: 8px solid #F5F5F5;
  border-radius: 20px;
  padding: 40px;
}
.row-con{
  width: 770px;
}
.cat-top{
  height: 110px;
}
.cat-tit{
  float: left;
}
.cat-tit-note{
  float: right;
  width: 565px;
  margin-top: 40px;
}
.cat-tit-note>p{
  color: #D0011B;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 1.8em;
}

/*icon list*/

.cat-list{
  clear: both;
  width: 100%;
  margin-top: 30px;
}
.cat-list>div{
  height: 100px;
}

.fa-stamp {
  background-image: url(../img/icon_stamp.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.fa-email {
  background-image: url(../img/icon_email.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.fa-fax1 {
  background-image: url(../img/icon_fax1.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.fa-phone1 {
  background-image: url(../img/icon_phone1.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.fa-color-l{
  color: #F5F5F5;
}
.fa-h{
  line-height: 2.2em;
  padding-left: .55em;
}
p.list-w{
  width: 640px;
  font-size: 18px;
  letter-spacing: .2em;
  line-height: 1.8em;
  float: right;
  margin-right: 20px;
}
span.fa-left{
  float: left;
}
.cat-list div p.list-h{
  margin-top: 30px;
}
.cat-list>div:nth-child(3){
  height: 0px;
}
/*box-group*/
.category .box-group{
  clear: both;
  margin-top: 50px;
  width: 100%;
  height: 399px;
}
.group-box{
  width: 850px;
  margin: 0 auto;
}
.group-box-L{
  float: left;
  background-image: url(../img/group_common.svg);
  width: 395px;
  height: 399px;
}
.group-box-R{
  float: right;
  background-image: url(../img/group_yes.svg);
  width: 395px;
  height: 399px;
}
.group-box-L>h2{
  padding: 5px 5px 0 0;
  font-size: 44px;
  text-align: right;
  color: white;
  text-shadow: rgba(8, 8, 8, 0.5) 0px 1px 12px;
}
.group-box-L>p, .group-box-R>p{
  padding: 3px 5px 0 0;
  font-size: 16px;
  text-align: right;
  color: white;
  text-shadow: rgba(8, 8, 8, 0.5) 0px 1px 12px;

}
.group-box-R>h2{
  padding: 5px 5px 0 0;
  font-size: 44px;
  text-align: right;
  color: white;
  text-shadow: rgba(8, 8, 8, 0.5) 0px 1px 12px;
}
.group-con{
  padding: 0 40px;
  text-align: left;
}
.group-con p:first-child{
  margin-top: 30px;
  font-size: 30px;
  color: #ffffff;
  line-height: 1.2em;
}
.group-con p:nth-child(2){
  font-size: 20px;
  font-weight: 400;
  color: #996C27;
  line-height: 1em;
  margin-bottom: 20px;
}
a.download{
  border: 4px solid #ffffff;
  line-height: 3em;
  padding: 0 80px;
  color: #8B572A;
  font-size: 18px;
  height: 62px;
}
a.download:hover,
a.download:focus,
a.download:active{
  border: 4px solid #ffffff;
  background-color: #ffffff;
  line-height: 3em;
  padding: 0 80px;
  color: #8B572A;
  font-size: 18px;
  text-decoration: none;
  height: 62px;
}
.group-con>p:empty {
    display: block;
    margin-bottom: 50px;
}

/*news*/
.news{
  clear: both;
  width: 100%;
  height: 287px;
  margin-top: 50px;
  background-image: url(../img/bg-beer.svg);
  background-repeat: repeat-x;
  background-position: top;
  text-align: center;
}
.beer-con{
  width: 850px;
  margin: 0 auto;
}
.beer-con>img{
  margin-top: 170px;
}
/*news-list*/
.news-con{
  width: 100%;
  height: 300px;
  text-align: center;
  background-color: #FFC331;
  padding-top: 50px;
}
.row-news{
  width: 850px;
  margin: 0 auto;
}
.list-date{
  float: left;
  display: block;
  width: 150px;
  font-size: 16px;
  color: #4A4A4A;
  letter-spacing: .2em;
  text-align: left;
}
.news-N{
  float: right;
  display: block;
  width: 700px;
  text-align: left;
  font-size: 16px;
  color: #4A4A4A;
  letter-spacing: .2em;
  line-height: 1.6;
}
.row-news div:nth-child(3){
  clear: both;
}

/*contact*/
.contact{
  margin: 80px 0;
}
.frame-short{
  margin-top: 60px;
  width: 850px;
  margin: 0 auto;
  border: 8px solid #F5F5F5;
  border-radius: 20px;
  padding: 20px 40px;
  margin-top: 50px;
}
.phone-h{
  padding-top: 10px;
}
.email-h{
  padding-top: 20px;
}
/*introduce*/
.introduce{
  margin-top: 80px;
}
.introduce-kv{
  margin-top: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.introduce-con{
  width: 680px;
  margin: 0 auto;
  font-size: 16px;
  color: #4A4A4A;
  line-height: 2em;
  letter-spacing: .2em;
  margin-bottom: 50px;
}
.introduce-con-en{
  width: 680px;
  margin: 0 auto;
  font-size: 16px;
  color: #4A4A4A;
  line-height: 2em;
  letter-spacing: 0em;
  margin-bottom: 50px;
}
/*Selection*/

.selection-P1{
  width: 100%;
  text-align: center;
  margin-top: 80px;
}
.info-sec{
  width: 750px;
  margin: 0 auto;
}
.info-sec>div:nth-child(1){
  margin:50px 0;
}
.sel-row{
  margin: 0 auto;
  float: left;
}
.sel-group{
  width: 375px;
}
.sel-group>p:nth-child(2){
  font-size: 26px;
  font-weight: bold;
  line-height: 2em;
  letter-spacing: .3em;
  color: #4A4A4A;
}
.sel-group>p:nth-child(3){
  font-size: 16px;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: .3em;
  color: #F9C300;
  margin-bottom: 20px;
}
.explain p:nth-child(1){
  font-size: 14px;
  font-weight: normal;
  line-height: 1.8em;
  letter-spacing: .1em;
  color: #4A4A4A;
}
.explain p:nth-child(2){
  font-size: 14px;
  font-weight: normal;
  letter-spacing: .1em;
  color: #990000;
}
p.explain-p{
  height: 5.5em;
  line-height: 5.5em;
  /*margin-top: 50px;*/
}
.note-1{
  clear: both;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .2em;
  color: #990000;
  line-height: 8em;
}
a.sel-download{
  border: 4px solid #F5F5F5;
  line-height: 3em;
  padding: 0 60px;
  color: #F9C300;
  font-size: 18px;
  height: 62px;
  margin-top: 30px;
}
a.sel-download:hover,
a.sel-download:focus,
a.sel-download:active{
  border: 4px solid #ffffff;
  background-color: #F9C300;
  line-height: 3em;
  padding: 0 60px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  height: 62px;
}
.selection-P2{
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.sec-list{
  width: 750px;
  margin: 0 auto;
  text-align: left;
}
.selection-con .tit-part1{
  font-size: 18px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: .6em;
  color: #FFC331;
  margin-bottom: 50px;
}
.tit-part{
  margin: 50px 0;
}
.tit-part1{
  margin-bottom: 50px;
}
.tit-part1 p{
  display: block;
  line-height: 1.8em;
  margin-top: 30px;
}
.fa-down{
  padding-top: 25px;
}
.fa-down-1{
  padding-top: 10px;
}
.selection-P3{
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.join{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.row-join{
  display: inline-block;
  width: 250px;
  margin: 0 auto;
}
.join-w{
  display: block;
}
.fa-h-none{
  padding-left: 0em;
  line-height: 2.2em;
}
.join-w :nth-child(2){
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .2em;
  color: #FFC331;
  margin-top:10px;
}
.join-w :nth-child(3){
  font-size: 14px;
  font-weight: normal;
  line-height: 1.8em;
  letter-spacing: .1em;
  color: #4A4A4A;
}
.selection-P4{
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.step>img{
  margin-top: 50px;
}
.group_common>:nth-child(1){
  margin-bottom: 80px;
  margin-top: 50px;
}
.group_common{
  width: 950px;
  margin: 0 auto;
  text-align: center;
  clear: both;
  margin-top: 50px;
}
.step{
  float: left;
  margin: 0 auto;
}
.icon-circle{
  height: auto;
  position: relative;
}
.circle{
  z-index: 1;
  position: absolute;
  width: 120px;
  height: 120px;
  border: 10px solid #F5F5F5;
  border-radius: 50%;
  left: 80px;
  top: 0;
}
.circle-icon>img{
  position: absolute;
  z-index: 2;
  left: 115px;
  top:35px;
}
.o-icon>img{
  position: absolute;
  z-index: 2;
  left: 200px;
  top:35px;
}
.group_info{
  margin-top: 140px;
  width: 280px;
}
.group_info p:nth-child(1){
  font-size: 18px;;
  color: #990000;
  font-weight: 400;
  letter-spacing: .2em;
}
.group_info p:nth-child(2){
  font-size: 12px;;
  color: #4A4A4A;
  font-weight: 500;
  letter-spacing: .1em;
}
.group_info p:nth-child(3){
  font-size: 14px;;
  color: #4A4A4A;
  letter-spacing: .1em;
  margin-top: 20px;
}
.group_info_below{
  width: 450px;
  margin-top: 160px;
}
.group_info_below p:nth-child(1){
  font-size: 18px;;
  color: #990000;
  font-weight: 400;
  letter-spacing: .2em;
}
.group_info_below p:nth-child(2){
  font-size: 12px;;
  color: #4A4A4A;
  font-weight: 500;
  letter-spacing: .1em;
}
.group_info_below p:nth-child(3){
  font-size: 14px;;
  color: #4A4A4A;
  letter-spacing: .1em;
  margin-top: 20px;
}
.o-below{
  left: 165px;
}
.selection-P4 div:nth-child(4){
  margin-bottom: 80px;
}
