*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Helvetica Neue",Helvetica,Arial,"微軟正黑體","Microsoft YaHei",'新細明體',sans-serif;
}
button:focus{
  outline:none;/*input:focus{outline:none} 消除chrome瀏覽器input元素的藍色邊框 */
}
.tabs-TB{
  width: 100%;
  text-align: center;
  margin-top: 80px;
}
ul.tab-gp{
  margin: 0 auto;
}
li.tab-all{
  display: inline-block;
  height: 134px;
}
li.tab-commom, li.tab-yes{
  width: 425px;
}
/*搜尋及高低票bt*/
.tab-content{
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.tab-row{
  width: 850px;
  margin: 0 auto;
  height: 54px;
}
ul.nav-R{
  margin-right: 0px;
}
ul.nav-R>li:nth-child(1){
  margin-right: 20px;
}
li.search-R1>a, li.search-R2>a{
  display: block;
  text-align: center;
  font-size: 18px;
  color: #ffc107;
  letter-spacing: .2;
  padding: 11px 26px;
  border: 3px solid #F9C300;
  border-radius: 10px;
}
ul.nav-R>li>a:focus, ul.nav-L>li>a:focus{
  background-color: #F9C300;
  color: #ffffff;
}
ul.nav-R>li>a:hover{
  background-color: #F9C300;
  color: #ffffff;
}
/*search bar*/
.ser-bt{
  float: left;
  width: 300px;
}
.del-sy{
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  border: 2px solid #E9E9E9;
  background-color: #F5F5F5;
  height: 48px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.del-sy:focus{
  border-color: rgb(189, 189, 189);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0);
}
.del-sy:focus {
  border-color: #E4E4E4;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 0.5px 0.5px rgba(0,0,0,.085), 0 0 8px rgba(255, 255, 255, 0);
}

/*search button 覆蓋bootstrap已設定好的style*/

.icon-ser:active:focus, .btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.icon-ser.active{
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
}
/*search button 覆蓋bootstrap已設定好的style*/
.icon-ser{
  height: 48px;
  width: 48px;
  border: 2px solid #E9E9E9;
  border-left: 1px solid #E9E9E9;
  border-radius: 0 6px 6px 0;
  padding: 0px 0px;
}
.icon-ser:active:hover{
  background-color: #eee;
  border-color: #e9e9e9;
}
.icon-ser:hover {
  background-color: #ddd;
  border-color: #e9e9e9;
}
.icon-ser:visited {
  background-color: #eee;
  border-color: #e9e9e9;
}
.icon-ser:focus{
  background-color: #eee;
  border-color: #e9e9e9;
}
.f-siz{
  font-size: 24px;
}
.fa-search{
  color: #9B9B9B;
}
/*商店群組*/
.shop-common{
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.row-shop{
  width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.shop-info{
  display: inline-block;
  width: 200px;
  text-align: center;
  margin-right: 12px;
}
.row-shop div:nth-child(4){
  margin-right: 0px;
}
.shop-info>div{
  width: 200px;
  height: 200px;
  border: 8px solid #F5F5F5;
}
div>a.del-style:focus{
  outline:none;/*消除chrome瀏覽器的藍色邊框*/
}
/*popup window css*/
.modal-header, .modal-footer{
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
    border-top: 0px solid #e5e5e5;
    text-align: center;
}
.modal-header>p{
  font-size: 20px;
  color: #9b9b9b;
  margin: 0 0 0px;
}
.modal-header>p:last-child{
  font-size: 24px;
  color: #000000;
  margin: 0 0 0px;
  margin-top: 10px;
}
.modal-header>p:last-child>span{
  font-size: 24px;
  color: #9b9b9b;
}
.modal-header>h4{
  font-size: 30px;
  color: #F9C300;
  letter-spacing: 0.3em;
}

.modal-header>
button.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(2);
  transform: scale(2);
}
.modal-footer{
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal-footer a.voted{
  display: block;
  width: 200px;
  height: 50px;
  border: 4px solid #F5F5F5;
  line-height: 42px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2em;
  color: #fac400;
}
.modal-footer a.voted:hover{
  color: #fff;
  width: 200px;
  height: 50px;
  background-color: #FAC400;
  text-decoration: none;
}

p.number{
  margin-top: 10px;
  font-size: 14px;
  color: #9B9B9B;
}
p.shop-name{
}
p.shop-name>a{
  font-size: 18px;
  color: #FAC400;
  line-height: 1;
  text-decoration: none;
}
p.shop-name>a:hover, a:focus{
  font-size: 18px;
  color: #D2A500;
  line-height: 1;
  text-decoration: none;
  outline: none;
}
p.votes{
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
  margin-top: 35px;
}
.shop-info>p.votes>span{
  font-size: 16px;
  color: #9B9B9B;
}
.shop-info>a.voted-bt{
  display: block;
  width: 200px;
  height: 50px;
  border: 4px solid #F5F5F5;
  line-height: 42px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2em;
  color: #fac400;
  text-decoration:none;
}
.shop-info>a.voted-bt:hover, a.voted-bt:focus{
  color: #fff;
  width: 200px;
  height: 50px;
  background-color: #FAC400;
  text-decoration:none;
  outline-style: none;
}

/*頁籤*/
.page-tab{
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
ul.page-w{
  display: flex;
  justify-content: center;
}
/* 清除修改頁籤 bootstrap style */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover{
  z-index: 3;
  color: #000;
  cursor: default;
  background-color:#F8E81C;
  border:2px solid #fac400;
}
.pagination>li>a{
  border: 2px solid #ddd;
}
